<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-header">
                            <h4 class="card-title">Pick your Color</h4>
                        </div>
                        <div class="card-body"><button mat-raised-button=""
                                class="btn mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">Default</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-primary mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">Primary</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-info mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">Info</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-success mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">Success</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-warning mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">Warning</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-danger mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">Danger</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button></div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-header">
                            <h4 class="card-title">Buttons with Label</h4>
                        </div>
                        <div class="card-body"><button mat-raised-button=""
                                class="btn mat-raised-button mat-button-base"><span class="mat-button-wrapper"><span
                                        class="btn-label"><i class="material-icons">keyboard_arrow_left</i></span> Left
                                </span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button="" class="btn mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper"> Right <span class="btn-label btn-label-right"><i
                                            class="material-icons">keyboard_arrow_right</i></span></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-info mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper"><span class="btn-label"><i
                                            class="material-icons">priority_high</i></span> Info </span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-success mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper"><span class="btn-label"><i
                                            class="material-icons">check</i></span> Success </span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-warning mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">warning</i> Warning </span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-danger mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">close</i> Danger </span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-header">
                            <h4 class="card-title">Pick your Size</h4>
                        </div>
                        <div class="card-body"><button mat-raised-button=""
                                class="btn btn-primary btn-sm mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">Small</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-primary mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">Regular</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-primary btn-lg mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">Large</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button></div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-header">
                            <h4 class="card-title">Pick your Style</h4>
                        </div>
                        <div class="card-body"><button mat-raised-button=""
                                class="btn btn-primary mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">Default</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-primary btn-round mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper">round</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-primary btn-round mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">favorite</i> with icon </span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button="" mat-min-fab=""
                                class="btn btn-primary btn-round btn-fab mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">favorite</i></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><button mat-raised-button=""
                                class="btn btn-primary btn-link mat-raised-button mat-button-base"><span
                                    class="mat-button-wrapper"> simple </span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-header">
                            <h4 class="card-title">Pagination</h4>
                        </div>
                        <div class="card-body">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-primary">
                                    <li class="page-item active"><a mat-button=""
                                            class="page-link mat-button mat-button-base" tabindex="0"
                                            aria-disabled="false"><span class="mat-button-wrapper">1</span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a></li>
                                    <li class="page-item"><a mat-button="" class="page-link mat-button mat-button-base"
                                            tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">2</span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a></li>
                                    <li class="page-item"><a mat-button="" class="page-link mat-button mat-button-base"
                                            tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">3</span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a></li>
                                    <li class="page-item"><a mat-button="" class="page-link mat-button mat-button-base"
                                            tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">4</span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a></li>
                                    <li class="page-item"><a mat-button="" class="page-link mat-button mat-button-base"
                                            tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">5</span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a></li>
                                </ul>
                                <ul class="pagination">
                                    <li class="page-item"><a mat-button="" aria-label="Previous"
                                            class="page-link mat-button mat-button-base" tabindex="0"
                                            aria-disabled="false"><span class="mat-button-wrapper"><span
                                                    aria-hidden="true"><i aria-hidden="true"
                                                        class="fa fa-angle-double-left"></i></span></span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a></li>
                                    <li class="page-item"><a mat-button="" class="page-link mat-button mat-button-base"
                                            tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">1</span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a></li>
                                    <li class="page-item active"><a mat-button=""
                                            class="page-link mat-button mat-button-base" tabindex="0"
                                            aria-disabled="false"><span class="mat-button-wrapper">2</span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a></li>
                                    <li class="page-item"><a mat-button="" class="page-link mat-button mat-button-base"
                                            tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">3</span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a></li>
                                    <li class="page-item"><a mat-button="" aria-label="Next"
                                            class="page-link mat-button mat-button-base" tabindex="0"
                                            aria-disabled="false"><span class="mat-button-wrapper"><span
                                                    aria-hidden="true"><i aria-hidden="true"
                                                        class="fa fa-angle-double-right"></i></span></span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-header">
                            <h4 class="card-title">Button Group</h4>
                        </div>
                        <div class="card-body">
                            <div class="btn-group"><button mat-raised-button="" type="button"
                                    class="btn btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">Left</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button><button mat-raised-button="" type="button"
                                    class="btn btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">Middle</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button><button mat-raised-button="" type="button"
                                    class="btn btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">Right</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button></div><br><br>
                            <div data-toggle="buttons" class="btn-group"><button mat-raised-button="" type="button"
                                    class="btn btn-round btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">1</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button><button mat-raised-button="" type="button"
                                    class="btn btn-round btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">2</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button><button mat-raised-button="" type="button"
                                    class="btn btn-round btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">3</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button><button mat-raised-button="" type="button"
                                    class="btn btn-round btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">4</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button></div>
                            <div class="btn-group"><button mat-raised-button="" type="button"
                                    class="btn btn-round btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">5</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button><button mat-raised-button="" type="button"
                                    class="btn btn-round btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">6</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button><button mat-raised-button="" type="button"
                                    class="btn btn-round btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">7</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-header">
                            <h4 class="card-title">Social buttons</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-5">
                                    <p class="category">Default</p><button mat-raised-button=""
                                        class="btn btn-twitter mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-twitter"></i> Connect with
                                            Twitter </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <p class="category">&nbsp;</p><button mat-raised-button=""
                                        class="btn btn-just-icon btn-twitter mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-twitter"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <p class="category">&nbsp;</p><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-twitter mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-twitter"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <p class="category">Neutral</p><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-twitter mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-twitter"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <p class="category">&nbsp;</p><button mat-raised-button=""
                                        class="btn btn-link btn-twitter mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-twitter"></i> Connect with
                                            Twitter </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5"><button mat-raised-button=""
                                        class="btn btn-facebook mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-facebook-square"></i> Share ·
                                            2.2k </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-facebook mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-facebook"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-facebook mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-facebook"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-facebook mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-facebook-square"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-3 col-sm-4"><button mat-raised-button=""
                                        class="btn btn-link btn-facebook mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-facebook-square"></i> Share ·
                                            2.2k </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5"><button mat-raised-button=""
                                        class="btn btn-google mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-google-plus"></i> Share on
                                            Google+ </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-google mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-google-plus"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-google mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-google-plus"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-google mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-google-plus"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-3 col-sm-4"><button mat-raised-button=""
                                        class="btn btn-link btn-google mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-google-plus"></i> Share on
                                            Google+ </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5"><button mat-raised-button=""
                                        class="btn btn-linkedin mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-linkedin-square"></i> Connect
                                            with Linkedin </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-linkedin mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-linkedin"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-linkedin mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-linkedin"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-linkedin mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-linkedin-square"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-3 col-sm-4"><button mat-raised-button=""
                                        class="btn btn-link btn-linkedin mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-linkedin-square"></i> Connect
                                            with Linkedin </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5"><button mat-raised-button=""
                                        class="btn btn-pinterest mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-pinterest"></i> Pint it · 212
                                        </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-pinterest mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-pinterest"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-pinterest mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-pinterest"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-pinterest mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-pinterest"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-3 col-sm-4"><button mat-raised-button=""
                                        class="btn btn-link btn-pinterest mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-pinterest"></i> Pint it · 212
                                        </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5"><button mat-raised-button=""
                                        class="btn btn-youtube mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-youtube-play"></i> View on
                                            Youtube </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-youtube mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-youtube"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-youtube mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-youtube"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-youtube mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-youtube"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-3 col-sm-4"><button mat-raised-button=""
                                        class="btn btn-link btn-youtube mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-youtube-play"></i> View on
                                            Youtube </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5"><button mat-raised-button=""
                                        class="btn btn-tumblr mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-tumblr-square"></i> Repost
                                        </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-tumblr mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-tumblr"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-tumblr mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-tumblr"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-tumblr mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-tumblr-square"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-3 col-sm-4"><button mat-raised-button=""
                                        class="btn btn-link btn-tumblr mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-tumblr-square"></i> Repost
                                        </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5"><button mat-raised-button=""
                                        class="btn btn-github mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-github"></i> Connect with Github
                                        </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-github mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-github"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-github mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-github"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-github mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-github"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-3 col-sm-4"><button mat-raised-button=""
                                        class="btn btn-link btn-github mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-github"></i> Connect with Github
                                        </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5"><button mat-raised-button=""
                                        class="btn btn-behance mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-behance-square"></i> Follow us
                                        </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-behance mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-behance"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-behance mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-behance"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-behance mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-behance"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-3 col-sm-4"><button mat-raised-button=""
                                        class="btn btn-link btn-behance mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-behance-square"></i> Follow us
                                        </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5"><button mat-raised-button=""
                                        class="btn btn-dribbble mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-dribbble"></i> Find us on Dribble
                                        </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-dribbble mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-dribbble"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-dribbble mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-dribbble"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-dribbble mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-dribbble"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-3 col-sm-4"><button mat-raised-button=""
                                        class="btn btn-link btn-dribbble mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-dribbble"></i> Find us on Dribble
                                        </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-5"><button mat-raised-button=""
                                        class="btn btn-reddit mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-reddit"></i> Repost · 232 </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-reddit mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-reddit"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-round btn-reddit mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-reddit"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-1 col-sm-1"><button mat-raised-button=""
                                        class="btn btn-just-icon btn-link btn-reddit mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-reddit"></i></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                                <div class="col-md-3 col-sm-4"><button mat-raised-button=""
                                        class="btn btn-link btn-reddit mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="fa fa-reddit"></i> Repost · 232 </span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>