<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="header text-center ml-auto mr-auto">
                <h3 class="title">Notifications</h3>
                <p class="category">Handcrafted by our friend <a target="_blank"
                        href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the <a
                        href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Notifications Style</h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info"><span>This is a plain notification</span></div>
                        <div class="alert alert-info"><button mat-button="" type="button" data-dismiss="alert"
                                aria-label="Close" class="close mat-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><span>This is a notification with close button.</span></div>
                        <div data-notify="container" class="alert alert-info alert-with-icon"><i data-notify="icon"
                                class="material-icons">notifications</i><button mat-button="" type="button"
                                data-dismiss="alert" aria-label="Close" class="close mat-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span><span
                                data-notify="message">This is a notification with close button and icon and have many
                                lines. You can see that the icon and the close button are always vertically aligned.
                                This is a beautiful notification. So you don't have to worry about the style.</span>
                        </div>
                        <div data-notify="container" class="alert alert-rose alert-with-icon"><i data-notify="icon"
                                class="material-icons">notifications</i><button mat-button="" type="button"
                                data-dismiss="alert" aria-label="Close" class="close mat-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><span data-notify="message">This is a notification with close button and icon and
                                is made with ".alert-rose". You can see that the icon and the close button are always
                                vertically aligned. This is a beautiful notification. So you don't have to worry about
                                the style.</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Notification states</h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info"><button mat-button="" type="button" data-dismiss="alert"
                                aria-label="Close" class="close mat-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><span><b> Info - </b> This is a regular notification made with ".alert-info"</span>
                        </div>
                        <div class="alert alert-success"><button mat-button="" type="button" data-dismiss="alert"
                                aria-label="Close" class="close mat-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><span><b> Success - </b> This is a regular notification made with
                                ".alert-success"</span></div>
                        <div class="alert alert-warning"><button mat-button="" type="button" data-dismiss="alert"
                                aria-label="Close" class="close mat-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><span><b> Warning - </b> This is a regular notification made with
                                ".alert-warning"</span></div>
                        <div class="alert alert-danger"><button mat-button="" type="button" data-dismiss="alert"
                                aria-label="Close" class="close mat-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><span><b> Danger - </b> This is a regular notification made with
                                ".alert-danger"</span></div>
                        <div class="alert alert-primary"><button mat-button="" type="button" data-dismiss="alert"
                                aria-label="Close" class="close mat-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><span><b> Primary - </b> This is a regular notification made with
                                ".alert-primary"</span></div>
                        <div class="alert alert-rose"><button mat-button="" type="button" data-dismiss="alert"
                                aria-label="Close" class="close mat-button mat-button-base"><span
                                    class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </button><span><b> Rose - </b> This is a regular notification made with ".alert-rose"</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="places-buttons">
                            <div class="row">
                                <div class="col-md-6 ml-auto mr-auto text-center">
                                    <h4 class="card-title"> Notifications Places <p class="category">Click to view
                                            notifications</p>
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                                    <div class="row">
                                        <div class="col-md-4"><button mat-raised-button=""
                                                class="btn btn-primary btn-block mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper">Top Left</span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></div>
                                        <div class="col-md-4"><button mat-raised-button=""
                                                class="btn btn-primary btn-block mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper">Top Center</span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></div>
                                        <div class="col-md-4"><button mat-raised-button=""
                                                class="btn btn-primary btn-block mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper">Top Right</span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                                    <div class="row">
                                        <div class="col-md-4"><button mat-raised-button=""
                                                class="btn btn-primary btn-block mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper">Bottom Left</span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></div>
                                        <div class="col-md-4"><button mat-raised-button=""
                                                class="btn btn-primary btn-block mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper">Bottom Center</span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></div>
                                        <div class="col-md-4"><button mat-raised-button=""
                                                class="btn btn-primary btn-block mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper">Bottom Right</span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="card-header">
                                    <h4 class="card-title">Modal</h4>
                                </div><button mat-raised-button="" data-toggle="modal" data-target="#myModal"
                                    class="btn btn-primary btn-raised btn-round mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper"> Classic modal </span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button><button mat-raised-button="" data-toggle="modal" data-target="#noticeModal"
                                    class="btn btn-raised btn-round btn-info mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper"> Notice modal </span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button><button mat-raised-button="" data-toggle="modal" data-target="#myModal10"
                                    class="btn btn-raised btn-round btn-rose mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper"> Small alert modal </span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button>
                                <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                    aria-hidden="true" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Modal title</h4><button mat-button=""
                                                    type="button" data-dismiss="modal" aria-hidden="true"
                                                    class="close mat-button mat-button-base"><span
                                                        class="mat-button-wrapper"><i
                                                            class="material-icons">clear</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Far far away, behind the word mountains, far from the countries
                                                    Vokalia and Consonantia, there live the blind texts. Separated they
                                                    live in Bookmarksgrove right at the coast of the Semantics, a large
                                                    language ocean. A small river named Duden flows by their place and
                                                    supplies it with the necessary regelialia. It is a paradisematic
                                                    country, in which roasted parts of sentences fly into your mouth.
                                                    Even the all-powerful Pointing has no control about the blind texts
                                                    it is an almost unorthographic life One day however a small line of
                                                    blind text by the name of Lorem Ipsum decided to leave for the far
                                                    World of Grammar. </p>
                                                <div class="form-group bmd-form-group is-filled"><label
                                                        class="label-control">Datetime Picker</label>
                                                    <div class="row">
                                                        <div class="col-md-10 col-lg-8 ml-auto mr-auto">
                                                            <mat-form-field
                                                                class="mat-form-field ng-tns-c58-0 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                                                <div class="mat-form-field-wrapper ng-tns-c58-0">
                                                                    <div class="mat-form-field-flex ng-tns-c58-0">
                                                                        <!---->
                                                                        <!---->
                                                                        <div class="mat-form-field-infix ng-tns-c58-0">
                                                                            <input matinput=""
                                                                                placeholder="Choose a date"
                                                                                class="mat-input-element mat-form-field-autofill-control ng-tns-c58-0 cdk-text-field-autofill-monitored"
                                                                                id="mat-input-0" aria-invalid="false"
                                                                                aria-required="false"
                                                                                aria-haspopup="dialog">
                                                                            <mat-datepicker class="ng-tns-c58-0">
                                                                            </mat-datepicker>
                                                                            <!----><span
                                                                                class="mat-form-field-label-wrapper ng-tns-c58-0"><label
                                                                                    class="mat-form-field-label ng-tns-c58-0 mat-empty mat-form-field-empty ng-star-inserted"
                                                                                    id="mat-form-field-label-1"
                                                                                    for="mat-input-0"
                                                                                    aria-owns="mat-input-0"><span
                                                                                        class="ng-tns-c58-0 ng-star-inserted">Choose
                                                                                        a date</span>
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <!---->
                                                                                    <!----></label>
                                                                                <!----></span>
                                                                        </div>
                                                                        <div
                                                                            class="mat-form-field-suffix ng-tns-c58-0 ng-star-inserted">
                                                                            <mat-datepicker-toggle matsuffix=""
                                                                                class="mat-datepicker-toggle ng-tns-c58-0"
                                                                                tabindex="-1"><button mat-icon-button=""
                                                                                    type="button"
                                                                                    class="mat-icon-button mat-button-base"
                                                                                    aria-haspopup="dialog"
                                                                                    aria-label="Open calendar"
                                                                                    tabindex="0"><span
                                                                                        class="mat-button-wrapper"><svg
                                                                                            viewBox="0 0 24 24"
                                                                                            width="24px" height="24px"
                                                                                            fill="currentColor"
                                                                                            focusable="false"
                                                                                            class="mat-datepicker-toggle-default-icon ng-star-inserted">
                                                                                            <path
                                                                                                d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z">
                                                                                            </path>
                                                                                        </svg>
                                                                                        <!----></span>
                                                                                    <div matripple=""
                                                                                        class="mat-ripple mat-button-ripple mat-button-ripple-round">
                                                                                    </div>
                                                                                    <div
                                                                                        class="mat-button-focus-overlay">
                                                                                    </div>
                                                                                </button></mat-datepicker-toggle>
                                                                        </div>
                                                                        <!---->
                                                                    </div>
                                                                    <div
                                                                        class="mat-form-field-underline ng-tns-c58-0 ng-star-inserted">
                                                                        <span
                                                                            class="mat-form-field-ripple ng-tns-c58-0"></span>
                                                                    </div>
                                                                    <!---->
                                                                    <div
                                                                        class="mat-form-field-subscript-wrapper ng-tns-c58-0">
                                                                        <!---->
                                                                        <div class="mat-form-field-hint-wrapper ng-tns-c58-0 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                                            style="opacity: 1; transform: translateY(0%);">
                                                                            <!---->
                                                                            <div
                                                                                class="mat-form-field-hint-spacer ng-tns-c58-0">
                                                                            </div>
                                                                        </div>
                                                                        <!---->
                                                                    </div>
                                                                </div>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer"><button mat-raised-button="" type="button"
                                                    class="btn btn-link mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper">Nice Button</span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button><button mat-raised-button="" type="button" data-dismiss="modal"
                                                    class="btn btn-danger btn-link mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper">Close</span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                    aria-hidden="true" class="modal fade">
                                    <div class="modal-dialog modal-notice">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 id="myModalLabel" class="modal-title">How Do You Become an
                                                    Affiliate?</h5><button mat-button="" type="button"
                                                    data-dismiss="modal" aria-hidden="true"
                                                    class="close mat-button mat-button-base"><span
                                                        class="mat-button-wrapper"><i
                                                            class="material-icons">close</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="instruction">
                                                    <div class="row">
                                                        <div class="col-md-8"><strong>1. Register</strong>
                                                            <p class="description">The first step is to create an
                                                                account at <a
                                                                    href="https://www.creative-tim.com/">Creative
                                                                    Tim</a>. You can choose a social network or go for
                                                                the classic version, whatever works best for you.</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="picture"><img src="./assets/img/card-1.jpg"
                                                                    alt="Thumbnail Image" class="rounded img-fluid">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="instruction">
                                                    <div class="row">
                                                        <div class="col-md-8"><strong>2. Apply</strong>
                                                            <p class="description">The first step is to create an
                                                                account at <a
                                                                    href="https://www.creative-tim.com/">Creative
                                                                    Tim</a>. You can choose a social network or go for
                                                                the classic version, whatever works best for you.</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="picture"><img src="./assets/img/card-2.jpg"
                                                                    alt="Thumbnail Image" class="rounded img-fluid">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>If you have more questions, don't hesitate to contact us or send us a
                                                    tweet @creativetim. We're here to help!</p>
                                            </div>
                                            <div class="modal-footer justify-content-center"><button
                                                    mat-raised-button="" type="button" data-dismiss="modal"
                                                    class="btn btn-info btn-round mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper">Sounds good!</span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                    aria-hidden="true" class="modal fade modal-mini modal-primary">
                                    <div class="modal-dialog modal-small">
                                        <div class="modal-content">
                                            <div class="modal-header"><button mat-button="" type="button"
                                                    data-dismiss="modal" aria-hidden="true"
                                                    class="close mat-button mat-button-base"><span
                                                        class="mat-button-wrapper"><i
                                                            class="material-icons">clear</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button></div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to do this?</p>
                                            </div>
                                            <div class="modal-footer justify-content-center"><button
                                                    mat-raised-button="" type="button" data-dismiss="modal"
                                                    class="btn btn-link mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper">Never mind</span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button><button mat-raised-button="" type="button"
                                                    class="btn btn-success btn-link mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper">Yes <div class="ripple-container">
                                                        </div></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>