<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-text card-header-warning">
                        <div class="card-text">
                            <h4 class="card-title">Employees Stats</h4>
                            <p class="card-category">New employees on 15th September, 2016</p>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <tr>
                                    <th class="ng-star-inserted">ID</th>
                                    <th class="ng-star-inserted">Name</th>
                                    <th class="ng-star-inserted">Salary</th>
                                    <th class="ng-star-inserted">Country</th>
                                    <!---->
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ng-star-inserted">
                                    <td class="ng-star-inserted">1</td>
                                    <td class="ng-star-inserted">Dakota Rice</td>
                                    <td class="ng-star-inserted">$36,738</td>
                                    <td class="ng-star-inserted">Niger</td>
                                    <!---->
                                </tr>
                                <tr class="ng-star-inserted">
                                    <td class="ng-star-inserted">2</td>
                                    <td class="ng-star-inserted">Minerva Hooper</td>
                                    <td class="ng-star-inserted">$23,789</td>
                                    <td class="ng-star-inserted">Curaçao</td>
                                    <!---->
                                </tr>
                                <tr class="ng-star-inserted">
                                    <td class="ng-star-inserted">3</td>
                                    <td class="ng-star-inserted">Sage Rodriguez</td>
                                    <td class="ng-star-inserted">$56,142</td>
                                    <td class="ng-star-inserted">Netherlands</td>
                                    <!---->
                                </tr>
                                <tr class="ng-star-inserted">
                                    <td class="ng-star-inserted">4</td>
                                    <td class="ng-star-inserted">Philip Chaney</td>
                                    <td class="ng-star-inserted">$38,735</td>
                                    <td class="ng-star-inserted">Korea, South</td>
                                    <!---->
                                </tr>
                                <!---->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-rose">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper"><span class="nav-tabs-title">Tasks:</span>
                                <ul data-tabs="tabs" class="nav nav-tabs">
                                    <li class="nav-item"><a href="#profile" data-toggle="tab" class="nav-link active"><i
                                                class="material-icons">bug_report</i> Bugs <div
                                                class="ripple-container"></div></a></li>
                                    <li class="nav-item"><a href="#messages" data-toggle="tab" class="nav-link"><i
                                                class="material-icons">code</i> Website <div class="ripple-container">
                                            </div></a></li>
                                    <li class="nav-item"><a href="#settings" data-toggle="tab" class="nav-link"><i
                                                class="material-icons">cloud</i> Server <div class="ripple-container">
                                            </div></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div id="profile" class="tab-pane active">
                                <table class="table">
                                    <tbody>
                                        <tr class="ng-star-inserted">
                                            <td>
                                                <div>
                                                    <!---->
                                                    <div class="ng-star-inserted">
                                                        <mat-checkbox class="mat-checkbox mat-accent"
                                                            id="mat-checkbox-1"><label class="mat-checkbox-layout"
                                                                for="mat-checkbox-1-input">
                                                                <div
                                                                    class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                    <input type="checkbox"
                                                                        class="mat-checkbox-input cdk-visually-hidden"
                                                                        id="mat-checkbox-1-input" tabindex="0"
                                                                        aria-checked="false">
                                                                    <div matripple=""
                                                                        class="mat-ripple mat-checkbox-ripple">
                                                                        <div
                                                                            class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                        </div>
                                                                    </div>
                                                                    <div class="mat-checkbox-frame"></div>
                                                                    <div class="mat-checkbox-background"><svg
                                                                            version="1.1" focusable="false"
                                                                            viewBox="0 0 24 24" xml:space="preserve"
                                                                            class="mat-checkbox-checkmark">
                                                                            <path fill="none" stroke="white"
                                                                                d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                                class="mat-checkbox-checkmark-path">
                                                                            </path>
                                                                        </svg>
                                                                        <div class="mat-checkbox-mixedmark"></div>
                                                                    </div>
                                                                </div><span class="mat-checkbox-label"><span
                                                                        style="display: none;">&nbsp;</span></span>
                                                            </label></mat-checkbox>
                                                    </div>
                                                    <!---->
                                                </div>
                                            </td>
                                            <td>Sign contract for 'What are conference organizers afraid of?'</td>
                                            <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                    mattooltip="Edit Task"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-0"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">edit</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!----><button mat-raised-button="" type="button" mattooltip="Remove"
                                                    class="btn btn-danger btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-1"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">close</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!---->
                                            </td>
                                        </tr>
                                        <tr class="ng-star-inserted">
                                            <td>
                                                <div>
                                                    <div class="ng-star-inserted">
                                                        <mat-checkbox checked="true"
                                                            class="mat-checkbox mat-accent mat-checkbox-checked"
                                                            id="mat-checkbox-2"><label class="mat-checkbox-layout"
                                                                for="mat-checkbox-2-input">
                                                                <div
                                                                    class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                    <input type="checkbox"
                                                                        class="mat-checkbox-input cdk-visually-hidden"
                                                                        id="mat-checkbox-2-input" tabindex="0"
                                                                        aria-checked="true">
                                                                    <div matripple=""
                                                                        class="mat-ripple mat-checkbox-ripple">
                                                                        <div
                                                                            class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                        </div>
                                                                    </div>
                                                                    <div class="mat-checkbox-frame"></div>
                                                                    <div class="mat-checkbox-background"><svg
                                                                            version="1.1" focusable="false"
                                                                            viewBox="0 0 24 24" xml:space="preserve"
                                                                            class="mat-checkbox-checkmark">
                                                                            <path fill="none" stroke="white"
                                                                                d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                                class="mat-checkbox-checkmark-path">
                                                                            </path>
                                                                        </svg>
                                                                        <div class="mat-checkbox-mixedmark"></div>
                                                                    </div>
                                                                </div><span class="mat-checkbox-label"><span
                                                                        style="display: none;">&nbsp;</span></span>
                                                            </label></mat-checkbox>
                                                    </div>
                                                    <!---->
                                                    <!---->
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                    mattooltip="Edit Task"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-0"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">edit</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!----><button mat-raised-button="" type="button" mattooltip="Remove"
                                                    class="btn btn-danger btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-1"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">close</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!---->
                                            </td>
                                        </tr>
                                        <tr class="ng-star-inserted">
                                            <td>
                                                <div>
                                                    <div class="ng-star-inserted">
                                                        <mat-checkbox checked="true"
                                                            class="mat-checkbox mat-accent mat-checkbox-checked"
                                                            id="mat-checkbox-3"><label class="mat-checkbox-layout"
                                                                for="mat-checkbox-3-input">
                                                                <div
                                                                    class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                    <input type="checkbox"
                                                                        class="mat-checkbox-input cdk-visually-hidden"
                                                                        id="mat-checkbox-3-input" tabindex="0"
                                                                        aria-checked="true">
                                                                    <div matripple=""
                                                                        class="mat-ripple mat-checkbox-ripple">
                                                                        <div
                                                                            class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                        </div>
                                                                    </div>
                                                                    <div class="mat-checkbox-frame"></div>
                                                                    <div class="mat-checkbox-background"><svg
                                                                            version="1.1" focusable="false"
                                                                            viewBox="0 0 24 24" xml:space="preserve"
                                                                            class="mat-checkbox-checkmark">
                                                                            <path fill="none" stroke="white"
                                                                                d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                                class="mat-checkbox-checkmark-path">
                                                                            </path>
                                                                        </svg>
                                                                        <div class="mat-checkbox-mixedmark"></div>
                                                                    </div>
                                                                </div><span class="mat-checkbox-label"><span
                                                                        style="display: none;">&nbsp;</span></span>
                                                            </label></mat-checkbox>
                                                    </div>
                                                    <!---->
                                                    <!---->
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit</td>
                                            <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                    mattooltip="Edit Task"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-0"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">edit</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!----><button mat-raised-button="" type="button" mattooltip="Remove"
                                                    class="btn btn-danger btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-1"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">close</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!---->
                                            </td>
                                        </tr>
                                        <tr class="ng-star-inserted">
                                            <td>
                                                <div>
                                                    <!---->
                                                    <div class="ng-star-inserted">
                                                        <mat-checkbox class="mat-checkbox mat-accent"
                                                            id="mat-checkbox-4"><label class="mat-checkbox-layout"
                                                                for="mat-checkbox-4-input">
                                                                <div
                                                                    class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                    <input type="checkbox"
                                                                        class="mat-checkbox-input cdk-visually-hidden"
                                                                        id="mat-checkbox-4-input" tabindex="0"
                                                                        aria-checked="false">
                                                                    <div matripple=""
                                                                        class="mat-ripple mat-checkbox-ripple">
                                                                        <div
                                                                            class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                        </div>
                                                                    </div>
                                                                    <div class="mat-checkbox-frame"></div>
                                                                    <div class="mat-checkbox-background"><svg
                                                                            version="1.1" focusable="false"
                                                                            viewBox="0 0 24 24" xml:space="preserve"
                                                                            class="mat-checkbox-checkmark">
                                                                            <path fill="none" stroke="white"
                                                                                d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                                class="mat-checkbox-checkmark-path">
                                                                            </path>
                                                                        </svg>
                                                                        <div class="mat-checkbox-mixedmark"></div>
                                                                    </div>
                                                                </div><span class="mat-checkbox-label"><span
                                                                        style="display: none;">&nbsp;</span></span>
                                                            </label></mat-checkbox>
                                                    </div>
                                                    <!---->
                                                </div>
                                            </td>
                                            <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                            <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                    mattooltip="Edit Task"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-0"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">edit</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!----><button mat-raised-button="" type="button" mattooltip="Remove"
                                                    class="btn btn-danger btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-1"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">close</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!---->
                                            </td>
                                        </tr>
                                        <!---->
                                    </tbody>
                                </table>
                            </div>
                            <div id="messages" class="tab-pane">
                                <table class="table">
                                    <tbody>
                                        <tr class="ng-star-inserted">
                                            <td>
                                                <div>
                                                    <div class="ng-star-inserted">
                                                        <mat-checkbox checked="true"
                                                            class="mat-checkbox mat-accent mat-checkbox-checked"
                                                            id="mat-checkbox-5"><label class="mat-checkbox-layout"
                                                                for="mat-checkbox-5-input">
                                                                <div
                                                                    class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                    <input type="checkbox"
                                                                        class="mat-checkbox-input cdk-visually-hidden"
                                                                        id="mat-checkbox-5-input" tabindex="0"
                                                                        aria-checked="true">
                                                                    <div matripple=""
                                                                        class="mat-ripple mat-checkbox-ripple">
                                                                        <div
                                                                            class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                        </div>
                                                                    </div>
                                                                    <div class="mat-checkbox-frame"></div>
                                                                    <div class="mat-checkbox-background"><svg
                                                                            version="1.1" focusable="false"
                                                                            viewBox="0 0 24 24" xml:space="preserve"
                                                                            class="mat-checkbox-checkmark">
                                                                            <path fill="none" stroke="white"
                                                                                d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                                class="mat-checkbox-checkmark-path">
                                                                            </path>
                                                                        </svg>
                                                                        <div class="mat-checkbox-mixedmark"></div>
                                                                    </div>
                                                                </div><span class="mat-checkbox-label"><span
                                                                        style="display: none;">&nbsp;</span></span>
                                                            </label></mat-checkbox>
                                                    </div>
                                                    <!---->
                                                    <!---->
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and
                                                what was found when a ravaging rain swept through metro Detroit</td>
                                            <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                    mattooltip="Edit Task"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-0"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">edit</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!----><button mat-raised-button="" type="button" mattooltip="Remove"
                                                    class="btn btn-danger btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-1"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">close</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!---->
                                            </td>
                                        </tr>
                                        <tr class="ng-star-inserted">
                                            <td>
                                                <div>
                                                    <!---->
                                                    <div class="ng-star-inserted">
                                                        <mat-checkbox class="mat-checkbox mat-accent"
                                                            id="mat-checkbox-6"><label class="mat-checkbox-layout"
                                                                for="mat-checkbox-6-input">
                                                                <div
                                                                    class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                    <input type="checkbox"
                                                                        class="mat-checkbox-input cdk-visually-hidden"
                                                                        id="mat-checkbox-6-input" tabindex="0"
                                                                        aria-checked="false">
                                                                    <div matripple=""
                                                                        class="mat-ripple mat-checkbox-ripple">
                                                                        <div
                                                                            class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                        </div>
                                                                    </div>
                                                                    <div class="mat-checkbox-frame"></div>
                                                                    <div class="mat-checkbox-background"><svg
                                                                            version="1.1" focusable="false"
                                                                            viewBox="0 0 24 24" xml:space="preserve"
                                                                            class="mat-checkbox-checkmark">
                                                                            <path fill="none" stroke="white"
                                                                                d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                                class="mat-checkbox-checkmark-path">
                                                                            </path>
                                                                        </svg>
                                                                        <div class="mat-checkbox-mixedmark"></div>
                                                                    </div>
                                                                </div><span class="mat-checkbox-label"><span
                                                                        style="display: none;">&nbsp;</span></span>
                                                            </label></mat-checkbox>
                                                    </div>
                                                    <!---->
                                                </div>
                                            </td>
                                            <td>Sign contract for 'What are conference organizers afraid of?'</td>
                                            <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                    mattooltip="Edit Task"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-0"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">edit</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!----><button mat-raised-button="" type="button" mattooltip="Remove"
                                                    class="btn btn-danger btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-1"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">close</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!---->
                                            </td>
                                        </tr>
                                        <!---->
                                    </tbody>
                                </table>
                            </div>
                            <div id="settings" class="tab-pane">
                                <table class="table">
                                    <tbody>
                                        <tr class="ng-star-inserted">
                                            <td>
                                                <div>
                                                    <!---->
                                                    <div class="ng-star-inserted">
                                                        <mat-checkbox class="mat-checkbox mat-accent"
                                                            id="mat-checkbox-7"><label class="mat-checkbox-layout"
                                                                for="mat-checkbox-7-input">
                                                                <div
                                                                    class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                    <input type="checkbox"
                                                                        class="mat-checkbox-input cdk-visually-hidden"
                                                                        id="mat-checkbox-7-input" tabindex="0"
                                                                        aria-checked="false">
                                                                    <div matripple=""
                                                                        class="mat-ripple mat-checkbox-ripple">
                                                                        <div
                                                                            class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                        </div>
                                                                    </div>
                                                                    <div class="mat-checkbox-frame"></div>
                                                                    <div class="mat-checkbox-background"><svg
                                                                            version="1.1" focusable="false"
                                                                            viewBox="0 0 24 24" xml:space="preserve"
                                                                            class="mat-checkbox-checkmark">
                                                                            <path fill="none" stroke="white"
                                                                                d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                                class="mat-checkbox-checkmark-path">
                                                                            </path>
                                                                        </svg>
                                                                        <div class="mat-checkbox-mixedmark"></div>
                                                                    </div>
                                                                </div><span class="mat-checkbox-label"><span
                                                                        style="display: none;">&nbsp;</span></span>
                                                            </label></mat-checkbox>
                                                    </div>
                                                    <!---->
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                    mattooltip="Edit Task"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-0"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">edit</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!----><button mat-raised-button="" type="button" mattooltip="Remove"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-1"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">close</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!---->
                                            </td>
                                        </tr>
                                        <tr class="ng-star-inserted">
                                            <td>
                                                <div>
                                                    <div class="ng-star-inserted">
                                                        <mat-checkbox checked="true"
                                                            class="mat-checkbox mat-accent mat-checkbox-checked"
                                                            id="mat-checkbox-8"><label class="mat-checkbox-layout"
                                                                for="mat-checkbox-8-input">
                                                                <div
                                                                    class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                    <input type="checkbox"
                                                                        class="mat-checkbox-input cdk-visually-hidden"
                                                                        id="mat-checkbox-8-input" tabindex="0"
                                                                        aria-checked="true">
                                                                    <div matripple=""
                                                                        class="mat-ripple mat-checkbox-ripple">
                                                                        <div
                                                                            class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                        </div>
                                                                    </div>
                                                                    <div class="mat-checkbox-frame"></div>
                                                                    <div class="mat-checkbox-background"><svg
                                                                            version="1.1" focusable="false"
                                                                            viewBox="0 0 24 24" xml:space="preserve"
                                                                            class="mat-checkbox-checkmark">
                                                                            <path fill="none" stroke="white"
                                                                                d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                                class="mat-checkbox-checkmark-path">
                                                                            </path>
                                                                        </svg>
                                                                        <div class="mat-checkbox-mixedmark"></div>
                                                                    </div>
                                                                </div><span class="mat-checkbox-label"><span
                                                                        style="display: none;">&nbsp;</span></span>
                                                            </label></mat-checkbox>
                                                    </div>
                                                    <!---->
                                                    <!---->
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit</td>
                                            <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                    mattooltip="Edit Task"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-0"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">edit</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!----><button mat-raised-button="" type="button" mattooltip="Remove"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-1"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">close</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!---->
                                            </td>
                                        </tr>
                                        <tr class="ng-star-inserted">
                                            <td>
                                                <div>
                                                    <!---->
                                                    <div class="ng-star-inserted">
                                                        <mat-checkbox class="mat-checkbox mat-accent"
                                                            id="mat-checkbox-9"><label class="mat-checkbox-layout"
                                                                for="mat-checkbox-9-input">
                                                                <div
                                                                    class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                    <input type="checkbox"
                                                                        class="mat-checkbox-input cdk-visually-hidden"
                                                                        id="mat-checkbox-9-input" tabindex="0"
                                                                        aria-checked="false">
                                                                    <div matripple=""
                                                                        class="mat-ripple mat-checkbox-ripple">
                                                                        <div
                                                                            class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                        </div>
                                                                    </div>
                                                                    <div class="mat-checkbox-frame"></div>
                                                                    <div class="mat-checkbox-background"><svg
                                                                            version="1.1" focusable="false"
                                                                            viewBox="0 0 24 24" xml:space="preserve"
                                                                            class="mat-checkbox-checkmark">
                                                                            <path fill="none" stroke="white"
                                                                                d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                                class="mat-checkbox-checkmark-path">
                                                                            </path>
                                                                        </svg>
                                                                        <div class="mat-checkbox-mixedmark"></div>
                                                                    </div>
                                                                </div><span class="mat-checkbox-label"><span
                                                                        style="display: none;">&nbsp;</span></span>
                                                            </label></mat-checkbox>
                                                    </div>
                                                    <!---->
                                                </div>
                                            </td>
                                            <td>Sign contract for 'What are conference organizers afraid of?'</td>
                                            <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                    mattooltip="Edit Task"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-0"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">edit</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!----><button mat-raised-button="" type="button" mattooltip="Remove"
                                                    class="btn btn-primary btn-link btn-sm mat-raised-button mat-button-base"
                                                    aria-describedby="cdk-describedby-message-1"
                                                    cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                            class="material-icons">close</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button>
                                                <!---->
                                            </td>
                                        </tr>
                                        <!---->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-lg-6 cards">
                    <div class="card card-pricing card-raised">
                        <div class="card-body">
                            <h6 class="card-category">Small Company</h6>
                            <div class="card-icon icon-rose"><i class="material-icons">home</i></div>
                            <h3 class="card-title">$29</h3>
                            <p class="card-description"> This is good if your company size is between 2 and 10 Persons.
                            </p><a href="#pablo" class="btn btn-rose btn-round">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 cards">
                    <div class="card card-pricing card-plain">
                        <div class="card-body">
                            <h6 class="card-category">Freelancer</h6>
                            <div class="card-icon"><i class="material-icons">weekend</i></div>
                            <h3 class="card-title">FREE</h3>
                            <p class="card-description"> This is good if your company size is between 2 and 10 Persons.
                            </p><a href="#pablo" class="btn btn-white btn-round">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="card card-testimonial">
                        <div class="icon"><i class="material-icons">format_quote</i></div>
                        <div class="card-body">
                            <h5 class="card-description"> Your products, all the kits that I have downloaded from your
                                site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep
                                up the great work! </h5>
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title">Alec Thompson</h4>
                            <h6 class="card-category">@alecthompson</h6>
                            <div class="card-avatar"><a href="#pablo"><img
                                        src="./assets/img/faces/card-profile1-square.jpg" class="img"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="timeline timeline-simple">
                    <li class="timeline-inverted">
                        <div class="timeline-badge danger"><i class="material-icons">card_travel</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading"><span class="badge badge-danger">Some title</span></div>
                            <div class="timeline-body">
                                <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank
                                    you for making my family We just had fun with the “future” theme !!! It was a fun
                                    night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing @
                                    Figueroa and 12th in downtown.</p>
                            </div>
                            <h6><i class="ti-time"></i> 11 hours ago via Twitter </h6>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success"><i class="material-icons">extension</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading"><span class="badge badge-success">Another One</span></div>
                            <div class="timeline-body">
                                <p>Thank God for the support of my wife and real friends. I also wanted to point out
                                    that it’s the first album to go number 1 off of streaming!!! I love you Ellen and
                                    also my number one design rule of anything I do from shoes to music to homes is that
                                    Kim has to like it....</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge info"><i class="material-icons">fingerprint</i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading"><span class="badge badge-info">Another Title</span></div>
                            <div class="timeline-body">
                                <p>Called I Miss the Old Kanye That’s all it was Kanye And I love you like Kanye loves
                                    Kanye Famous viewing @ Figueroa and 12th in downtown LA 11:10PM</p>
                                <p>What if Kanye made a song about Kanye Royère doesn't make a Polar bear bed but the
                                    Polar bear couch is my favorite piece of furniture we own It wasn’t any Kanyes Set
                                    on his goals Kanye</p>
                                <hr>
                                <div class="dropdown pull-left"><button mat-raised-button="" type="button"
                                        data-toggle="dropdown"
                                        class="btn btn-round btn-info dropdown-toggle mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper"><i class="material-icons">build</i><span
                                                class="caret"></span></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#action">Action</a></li>
                                        <li><a href="#action">Another action</a></li>
                                        <li><a href="#here">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#link">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>