<div  class="main-content">
    <div  class="container-fluid">
        <div  class="card">
            <div  class="card-body"><br >
                <div  class="row">
                    <div  class="col-md-4 mr-auto">
                        <legend >Datepicker</legend>
                        <mat-form-field 
                            class="mat-form-field ng-tns-c58-37 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                            <div class="mat-form-field-wrapper ng-tns-c58-37">
                                <div class="mat-form-field-flex ng-tns-c58-37">
                                    <!---->
                                    <!---->
                                    <div class="mat-form-field-infix ng-tns-c58-37"><input 
                                            matinput="" placeholder="Choose a date"
                                            class="mat-input-element mat-form-field-autofill-control ng-tns-c58-37 cdk-text-field-autofill-monitored"
                                            id="mat-input-29" aria-invalid="false" aria-required="false"
                                            aria-haspopup="dialog">
                                        <mat-datepicker  class="ng-tns-c58-37"></mat-datepicker>
                                        <!----><span class="mat-form-field-label-wrapper ng-tns-c58-37"><label
                                                class="mat-form-field-label ng-tns-c58-37 mat-empty mat-form-field-empty ng-star-inserted"
                                                id="mat-form-field-label-63" for="mat-input-29"
                                                aria-owns="mat-input-29"><span
                                                    class="ng-tns-c58-37 ng-star-inserted">Choose a date</span>
                                                <!---->
                                                <!---->
                                                <!---->
                                                <!----></label>
                                            <!----></span>
                                    </div>
                                    <div class="mat-form-field-suffix ng-tns-c58-37 ng-star-inserted">
                                        <mat-datepicker-toggle  matsuffix=""
                                            class="mat-datepicker-toggle ng-tns-c58-37" tabindex="-1"><button
                                                mat-icon-button="" type="button" class="mat-icon-button mat-button-base"
                                                aria-haspopup="dialog" aria-label="Open calendar" tabindex="0"><span
                                                    class="mat-button-wrapper"><svg viewBox="0 0 24 24" width="24px"
                                                        height="24px" fill="currentColor" focusable="false"
                                                        class="mat-datepicker-toggle-default-icon ng-star-inserted">
                                                        <path
                                                            d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z">
                                                        </path>
                                                    </svg>
                                                    <!----></span>
                                                <div matripple=""
                                                    class="mat-ripple mat-button-ripple mat-button-ripple-round"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></mat-datepicker-toggle>
                                    </div>
                                    <!---->
                                </div>
                                <div class="mat-form-field-underline ng-tns-c58-37 ng-star-inserted"><span
                                        class="mat-form-field-ripple ng-tns-c58-37"></span></div>
                                <!---->
                                <div class="mat-form-field-subscript-wrapper ng-tns-c58-37">
                                    <!---->
                                    <div class="mat-form-field-hint-wrapper ng-tns-c58-37 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                        style="opacity: 1; transform: translateY(0%);">
                                        <!---->
                                        <div class="mat-form-field-hint-spacer ng-tns-c58-37"></div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </mat-form-field>
                    </div>
                    <div  class="col-md-4 mr-auto">
                        <legend >Datepicker Year</legend>
                        <mat-form-field 
                            class="mat-form-field ng-tns-c58-38 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                            <div class="mat-form-field-wrapper ng-tns-c58-38">
                                <div class="mat-form-field-flex ng-tns-c58-38">
                                    <!---->
                                    <!---->
                                    <div class="mat-form-field-infix ng-tns-c58-38"><input 
                                            matinput="" placeholder="Choose a date"
                                            class="mat-input-element mat-form-field-autofill-control ng-tns-c58-38 cdk-text-field-autofill-monitored"
                                            id="mat-input-30" aria-invalid="false" aria-required="false"
                                            aria-haspopup="dialog">
                                        <mat-datepicker  startview="year" class="ng-tns-c58-38">
                                        </mat-datepicker>
                                        <!----><span class="mat-form-field-label-wrapper ng-tns-c58-38"><label
                                                class="mat-form-field-label ng-tns-c58-38 mat-empty mat-form-field-empty ng-star-inserted"
                                                id="mat-form-field-label-65" for="mat-input-30"
                                                aria-owns="mat-input-30"><span
                                                    class="ng-tns-c58-38 ng-star-inserted">Choose a date</span>
                                                <!---->
                                                <!---->
                                                <!---->
                                                <!----></label>
                                            <!----></span>
                                    </div>
                                    <div class="mat-form-field-suffix ng-tns-c58-38 ng-star-inserted">
                                        <mat-datepicker-toggle  matsuffix=""
                                            class="mat-datepicker-toggle ng-tns-c58-38" tabindex="-1"><button
                                                mat-icon-button="" type="button" class="mat-icon-button mat-button-base"
                                                aria-haspopup="dialog" aria-label="Open calendar" tabindex="0"><span
                                                    class="mat-button-wrapper"><svg viewBox="0 0 24 24" width="24px"
                                                        height="24px" fill="currentColor" focusable="false"
                                                        class="mat-datepicker-toggle-default-icon ng-star-inserted">
                                                        <path
                                                            d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z">
                                                        </path>
                                                    </svg>
                                                    <!----></span>
                                                <div matripple=""
                                                    class="mat-ripple mat-button-ripple mat-button-ripple-round"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></mat-datepicker-toggle>
                                    </div>
                                    <!---->
                                </div>
                                <div class="mat-form-field-underline ng-tns-c58-38 ng-star-inserted"><span
                                        class="mat-form-field-ripple ng-tns-c58-38"></span></div>
                                <!---->
                                <div class="mat-form-field-subscript-wrapper ng-tns-c58-38">
                                    <!---->
                                    <div class="mat-form-field-hint-wrapper ng-tns-c58-38 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                        style="opacity: 1; transform: translateY(0%);">
                                        <!---->
                                        <div class="mat-form-field-hint-spacer ng-tns-c58-38"></div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </mat-form-field>
                    </div>
                </div><br ><br >
                <div  class="row">
                    <div  class="col-md-6">
                        <legend >Switches</legend>
                        <div  class="togglebutton"><label ><input
                                     type="checkbox" checked=""><span 
                                    class="toggle"></span> Toggle is on </label></div>
                        <div  class="togglebutton"><label ><input
                                     type="checkbox"><span 
                                    class="toggle"></span> Toggle is off </label></div>
                    </div>
                    <div  class="col-md-6">
                        <legend >Customisable Select</legend>
                        <div  class="row">
                            <div  class="col-lg-5 col-md-8 col-sm-4">
                                <mat-form-field 
                                    class="mat-form-field ng-tns-c58-39 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-valid">
                                    <div class="mat-form-field-wrapper ng-tns-c58-39">
                                        <div class="mat-form-field-flex ng-tns-c58-39">
                                            <!---->
                                            <!---->
                                            <div class="mat-form-field-infix ng-tns-c58-39">
                                                <mat-select  role="listbox" multiple=""
                                                    placeholder="Multiple Cities" name="Paris" arialabel="cities[0]"
                                                    class="mat-select ng-tns-c81-40 ng-tns-c58-39 mat-select-empty ng-untouched ng-pristine ng-valid ng-star-inserted"
                                                    id="mat-select-2" tabindex="0" aria-label="Multiple Cities"
                                                    aria-required="false" aria-disabled="false" aria-invalid="false"
                                                    aria-multiselectable="true">
                                                    <div cdk-overlay-origin="" aria-hidden="true"
                                                        class="mat-select-trigger ng-tns-c81-40">
                                                        <div class="mat-select-value ng-tns-c81-40"><span
                                                                class="mat-select-placeholder ng-tns-c81-40 ng-star-inserted">Multiple
                                                                Cities</span>
                                                            <!---->
                                                            <!---->
                                                        </div>
                                                        <div class="mat-select-arrow-wrapper ng-tns-c81-40">
                                                            <div class="mat-select-arrow ng-tns-c81-40"></div>
                                                        </div>
                                                    </div>
                                                    <!---->
                                                </mat-select><span
                                                    class="mat-form-field-label-wrapper ng-tns-c58-39"><label
                                                        class="mat-form-field-label ng-tns-c58-39 mat-empty mat-form-field-empty ng-star-inserted"
                                                        id="mat-form-field-label-67" for="mat-select-2"
                                                        aria-owns="mat-select-2"><span
                                                            class="ng-tns-c58-39 ng-star-inserted">Multiple
                                                            Cities</span>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                        <!----></label>
                                                    <!----></span>
                                            </div>
                                            <!---->
                                        </div>
                                        <div class="mat-form-field-underline ng-tns-c58-39 ng-star-inserted"><span
                                                class="mat-form-field-ripple ng-tns-c58-39"></span></div>
                                        <!---->
                                        <div class="mat-form-field-subscript-wrapper ng-tns-c58-39">
                                            <!---->
                                            <div class="mat-form-field-hint-wrapper ng-tns-c58-39 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                style="opacity: 1; transform: translateY(0%);">
                                                <!---->
                                                <div class="mat-form-field-hint-spacer ng-tns-c58-39"></div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div  class="col-lg-5 col-md-8 col-sm-4">
                                <mat-form-field 
                                    class="mat-form-field ng-tns-c58-41 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                    <div class="mat-form-field-wrapper ng-tns-c58-41">
                                        <div class="mat-form-field-flex ng-tns-c58-41">
                                            <!---->
                                            <!---->
                                            <div class="mat-form-field-infix ng-tns-c58-41">
                                                <mat-select  role="listbox"
                                                    placeholder="Single City" name="city"
                                                    class="mat-select ng-tns-c81-42 ng-tns-c58-41 mat-select-empty ng-star-inserted"
                                                    id="mat-select-3" tabindex="0" aria-label="Single City"
                                                    aria-required="false" aria-disabled="false" aria-invalid="false"
                                                    aria-multiselectable="false">
                                                    <div cdk-overlay-origin="" aria-hidden="true"
                                                        class="mat-select-trigger ng-tns-c81-42">
                                                        <div class="mat-select-value ng-tns-c81-42"><span
                                                                class="mat-select-placeholder ng-tns-c81-42 ng-star-inserted">Single
                                                                City</span>
                                                            <!---->
                                                            <!---->
                                                        </div>
                                                        <div class="mat-select-arrow-wrapper ng-tns-c81-42">
                                                            <div class="mat-select-arrow ng-tns-c81-42"></div>
                                                        </div>
                                                    </div>
                                                    <!---->
                                                </mat-select><span
                                                    class="mat-form-field-label-wrapper ng-tns-c58-41"><label
                                                        class="mat-form-field-label ng-tns-c58-41 mat-empty mat-form-field-empty ng-star-inserted"
                                                        id="mat-form-field-label-69" for="mat-select-3"
                                                        aria-owns="mat-select-3"><span
                                                            class="ng-tns-c58-41 ng-star-inserted">Single City</span>
                                                        <!---->
                                                        <!---->
                                                        <!---->
                                                        <!----></label>
                                                    <!----></span>
                                            </div>
                                            <!---->
                                        </div>
                                        <div class="mat-form-field-underline ng-tns-c58-41 ng-star-inserted"><span
                                                class="mat-form-field-ripple ng-tns-c58-41"></span></div>
                                        <!---->
                                        <div class="mat-form-field-subscript-wrapper ng-tns-c58-41">
                                            <!---->
                                            <div class="mat-form-field-hint-wrapper ng-tns-c58-41 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                style="opacity: 1; transform: translateY(0%);">
                                                <!---->
                                                <div class="mat-form-field-hint-spacer ng-tns-c58-41"></div>
                                            </div>
                                            <!---->
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div><br ><br >
                <div  class="row">
                    <div  class="col-md-6">
                        <legend >Tags</legend> Regular: <tag-input 
                            theme="filled-theme" _nghost-mrn-c112=""
                            class="ng-tns-c112-43 ng-untouched ng-pristine ng-valid" tabindex="">
                            <div  class="ng2-tag-input ng-tns-c112-43 filled-theme" tabindex="-1">
                                <div  class="ng2-tags-container ng-tns-c112-43">
                                    <tag  
                                        class="ng-tns-c112-43 ng-trigger ng-trigger-animation ng-star-inserted"
                                        draggable="false" tabindex="0" style="opacity: 1;">
                                        <div tabindex="-1" aria-label="Pizza">
                                            <!---->
                                            <div class="tag-wrapper ng-star-inserted" >
                                                <div spellcheck="false" class="tag__text inline"
                                                    contenteditable="false" title="Pizza"> Pizza </div>
                                                <delete-icon aria-label="Remove tag"
                                                    role="button"  class="ng-star-inserted"><span
                                                       ><svg height="16px"
                                                            viewBox="0 0 32 32" width="16px">
                                                            <path
                                                                d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z"
                                                                fill="#121313"></path>
                                                        </svg></span></delete-icon>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                        <tag-ripple 
                                            class="ng-tns-c109-44 ng-star-inserted" tabindex="-1" >
                                            <div 
                                                class="tag-ripple ng-tns-c109-44 ng-trigger ng-trigger-ink"
                                                style="width: 0px; opacity: 0;"></div>
                                        </tag-ripple>
                                        <!---->
                                    </tag>
                                    <tag  
                                        class="ng-tns-c112-43 ng-trigger ng-trigger-animation ng-star-inserted"
                                        draggable="false" tabindex="0" style="opacity: 1;">
                                        <div tabindex="-1" aria-label="Pasta">
                                            <!---->
                                            <div class="tag-wrapper ng-star-inserted" >
                                                <div spellcheck="false" class="tag__text inline"
                                                    contenteditable="false" title="Pasta"> Pasta </div>
                                                <delete-icon aria-label="Remove tag"
                                                    role="button"  class="ng-star-inserted"><span
                                                       ><svg height="16px"
                                                            viewBox="0 0 32 32" width="16px">
                                                            <path
                                                                d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z"
                                                                fill="#121313"></path>
                                                        </svg></span></delete-icon>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                        <tag-ripple 
                                            class="ng-tns-c109-45 ng-star-inserted" tabindex="-1" >
                                            <div 
                                                class="tag-ripple ng-tns-c109-45 ng-trigger ng-trigger-ink"
                                                style="width: 0px; opacity: 0;"></div>
                                        </tag-ripple>
                                        <!---->
                                    </tag>
                                    <tag  
                                        class="ng-tns-c112-43 ng-trigger ng-trigger-animation ng-star-inserted"
                                        draggable="false" tabindex="0" style="opacity: 1;">
                                        <div tabindex="-1" aria-label="Parmesan">
                                            <!---->
                                            <div class="tag-wrapper ng-star-inserted" >
                                                <div spellcheck="false" class="tag__text inline"
                                                    contenteditable="false" title="Parmesan"> Parmesan </div>
                                                <delete-icon aria-label="Remove tag"
                                                    role="button"  class="ng-star-inserted"><span
                                                       ><svg height="16px"
                                                            viewBox="0 0 32 32" width="16px">
                                                            <path
                                                                d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z"
                                                                fill="#121313"></path>
                                                        </svg></span></delete-icon>
                                                <!---->
                                            </div>
                                            <!---->
                                        </div>
                                        <tag-ripple 
                                            class="ng-tns-c109-46 ng-star-inserted" tabindex="-1" >
                                            <div 
                                                class="tag-ripple ng-tns-c109-46 ng-trigger ng-trigger-ink"
                                                style="width: 0px; opacity: 0;"></div>
                                        </tag-ripple>
                                        <!---->
                                    </tag>
                                    <!---->
                                    <tag-input-form  class="ng-tns-c112-43" _nghost-mrn-c108="">
                                        <form  novalidate=""
                                            class="ng-untouched ng-pristine ng-valid"><input 
                                                type="text" autocomplete="off" minlength="1" formcontrolname="item"
                                                class="ng2-tag-input__text-input ng-untouched ng-pristine ng-valid"
                                                tabindex="" placeholder="+ Tag" aria-label="+ Tag"></form>
                                    </tag-input-form>
                                </div>
                                <!---->
                            </div>
                            <!---->
                        </tag-input>
                    </div>
                    <div  class="col-md-6">
                        <legend >Dropdown &amp; Dropup</legend>
                        <div  class="row">
                            <div  class="col-lg-4 col-md-6 col-sm-3">
                                <div  class="dropdown"><button 
                                        mat-raised-button="" href="#pablo" data-toggle="dropdown"
                                        class="dropdown-toggle btn btn-primary btn-round btn-block mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper">Dropdown <b 
                                                class="caret"></b></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                    <ul  class="dropdown-menu dropdown-menu-left">
                                        <li  class="dropdown-header">Dropdown header</li>
                                        <li ><a  href="#pablo">Action</a>
                                        </li>
                                        <li ><a  href="#pablo">Another
                                                action</a></li>
                                        <li ><a  href="#pablo">Something
                                                else here</a></li>
                                        <li  class="divider"></li>
                                        <li ><a  href="#pablo">Separated
                                                link</a></li>
                                        <li  class="divider"></li>
                                        <li ><a  href="#pablo">One more
                                                separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div  class="col-lg-4 col-md-6 col-sm-3">
                                <div  class="dropup"><button 
                                        mat-raised-button="" href="#pablo" data-toggle="dropdown"
                                        class="dropdown-toggle btn btn-primary btn-round btn-block mat-raised-button mat-button-base"><span
                                            class="mat-button-wrapper">Dropup <b 
                                                class="caret"></b></span>
                                        <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                        <div class="mat-button-focus-overlay"></div>
                                    </button>
                                    <ul  class="dropdown-menu dropdown-menu-left">
                                        <li  class="dropdown-header">Dropdown header</li>
                                        <li ><a  href="#pablo">Action</a>
                                        </li>
                                        <li ><a  href="#pablo">Another
                                                action</a></li>
                                        <li ><a  href="#pablo">Something
                                                else here</a></li>
                                        <li  class="divider"></li>
                                        <li ><a  href="#pablo">Separated
                                                link</a></li>
                                        <li  class="divider"></li>
                                        <li ><a  href="#pablo">One more
                                                separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br ><br >
                <div  class="row">
                    <div  class="col-md-6">
                        <legend >Progress Bars</legend>
                        <div  class="progress progress-line-primary">
                            <div  role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                aria-valuemax="100" class="progress-bar progress-bar-primary" style="width: 30%;"><span
                                     class="sr-only">60% Complete</span></div>
                        </div>
                        <div  class="progress progress-line-info">
                            <div  role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                aria-valuemax="100" class="progress-bar progress-bar-info" style="width: 60%;"><span
                                     class="sr-only">60% Complete</span></div>
                        </div>
                        <div  class="progress progress-line-danger">
                            <div  class="progress-bar progress-bar-success" style="width: 35%;">
                                <span  class="sr-only">35% Complete (success)</span></div>
                            <div  class="progress-bar progress-bar-warning" style="width: 20%;">
                                <span  class="sr-only">20% Complete (warning)</span></div>
                            <div  class="progress-bar progress-bar-danger" style="width: 10%;">
                                <span  class="sr-only">10% Complete (danger)</span></div>
                        </div>
                    </div>
                    <div  class="col-md-6">
                        <legend >Sliders</legend>
                        <nouislider 
                            class="slider ng2-nouislider ng-untouched ng-pristine ng-valid" _nghost-mrn-c102="">
                            <div _ngcontent-mrn-c102="" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                                <div class="noUi-base">
                                    <div class="noUi-connects"></div>
                                    <div class="noUi-origin" style="transform: translate(-600%, 0px); z-index: 4;">
                                        <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0"
                                            role="slider" aria-orientation="horizontal" aria-valuemin="0.0"
                                            aria-valuemax="100.0" aria-valuenow="40.0" aria-valuetext="40">
                                            <div class="noUi-touch-area"></div>
                                            <div class="noUi-tooltip">40</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nouislider><br >
                        <nouislider 
                            class="slider slider-info ng2-nouislider ng-untouched ng-pristine ng-valid"
                            _nghost-mrn-c102="">
                            <div _ngcontent-mrn-c102="" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                                <div class="noUi-base">
                                    <div class="noUi-connects">
                                        <div class="noUi-connect" style="transform: translate(20%, 0px) scale(0.4, 1);">
                                        </div>
                                    </div>
                                    <div class="noUi-origin" style="transform: translate(-800%, 0px); z-index: 5;">
                                        <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0"
                                            role="slider" aria-orientation="horizontal" aria-valuemin="0.0"
                                            aria-valuemax="60.0" aria-valuenow="20.0" aria-valuetext="20">
                                            <div class="noUi-touch-area"></div>
                                            <div class="noUi-tooltip">20</div>
                                        </div>
                                    </div>
                                    <div class="noUi-origin" style="transform: translate(-400%, 0px); z-index: 4;">
                                        <div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0"
                                            role="slider" aria-orientation="horizontal" aria-valuemin="20.0"
                                            aria-valuemax="100.0" aria-valuenow="60.0" aria-valuetext="60">
                                            <div class="noUi-touch-area"></div>
                                            <div class="noUi-tooltip">60</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nouislider>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-md-4 col-sm-4">
                        <legend >Regular Image</legend>
                        <div  data-provides="fileinput"
                            class="fileinput fileinput-new text-center">
                            <div  class="fileinput-new thumbnail"><img 
                                    src="./assets/img/image_placeholder.jpg" alt="..."></div>
                            <div  class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div ><span 
                                    class="btn btn-rose btn-round btn-file"><span 
                                        class="fileinput-new">Select image</span><span 
                                        class="fileinput-exists">Change</span><input  type="file"
                                        name="..."></span><a  href="#pablo"
                                    data-dismiss="fileinput" class="btn btn-danger btn-round fileinput-exists"><i
                                         class="fa fa-times"></i> Remove</a></div>
                        </div>
                    </div>
                    <div  class="col-md-3 col-sm-4">
                        <legend >Avatar</legend>
                        <div  data-provides="fileinput"
                            class="fileinput fileinput-new text-center">
                            <div  class="fileinput-new thumbnail img-circle"><img
                                     src="./assets/img/placeholder.jpg" alt="..."></div>
                            <div  class="fileinput-preview fileinput-exists thumbnail img-circle">
                            </div>
                            <div ><span 
                                    class="btn btn-round btn-rose btn-file"><span 
                                        class="fileinput-new">Add Photo</span><span 
                                        class="fileinput-exists">Change</span><input  type="file"
                                        name="..."></span><br ><a 
                                    href="#pablo" data-dismiss="fileinput"
                                    class="btn btn-danger btn-round fileinput-exists"><i 
                                        class="fa fa-times"></i> Remove</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>