<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon"><i class="material-icons">mail_outline</i></div>
                        <h4 class="card-title">Stacked Form</h4>
                    </div>
                    <div class="card-body">
                        <form novalidate="" method="#" action="#" class="ng-untouched ng-pristine ng-valid">
                            <mat-form-field
                                class="mat-form-field example-full-width ng-tns-c58-24 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                <div class="mat-form-field-wrapper ng-tns-c58-24">
                                    <div class="mat-form-field-flex ng-tns-c58-24">
                                        <!---->
                                        <!---->
                                        <div class="mat-form-field-infix ng-tns-c58-24"><input matinput=""
                                                placeholder="Email Address" type="email"
                                                class="mat-input-element mat-form-field-autofill-control ng-tns-c58-24 cdk-text-field-autofill-monitored"
                                                id="mat-input-16" aria-invalid="false" aria-required="false"><span
                                                class="mat-form-field-label-wrapper ng-tns-c58-24"><label
                                                    class="mat-form-field-label ng-tns-c58-24 mat-empty mat-form-field-empty ng-star-inserted"
                                                    id="mat-form-field-label-37" for="mat-input-16"
                                                    aria-owns="mat-input-16"><span
                                                        class="ng-tns-c58-24 ng-star-inserted">Email Address</span>
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!----></label>
                                                <!----></span></div>
                                        <!---->
                                    </div>
                                    <div class="mat-form-field-underline ng-tns-c58-24 ng-star-inserted"><span
                                            class="mat-form-field-ripple ng-tns-c58-24"></span></div>
                                    <!---->
                                    <div class="mat-form-field-subscript-wrapper ng-tns-c58-24">
                                        <!---->
                                        <div class="mat-form-field-hint-wrapper ng-tns-c58-24 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                            style="opacity: 1; transform: translateY(0%);">
                                            <!---->
                                            <div class="mat-form-field-hint-spacer ng-tns-c58-24"></div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                            </mat-form-field>
                            <mat-form-field
                                class="mat-form-field example-full-width ng-tns-c58-25 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                <div class="mat-form-field-wrapper ng-tns-c58-25">
                                    <div class="mat-form-field-flex ng-tns-c58-25">
                                        <!---->
                                        <!---->
                                        <div class="mat-form-field-infix ng-tns-c58-25"><input matinput=""
                                                placeholder="Password" type="password"
                                                class="mat-input-element mat-form-field-autofill-control ng-tns-c58-25 cdk-text-field-autofill-monitored"
                                                id="mat-input-17" aria-invalid="false" aria-required="false"><span
                                                class="mat-form-field-label-wrapper ng-tns-c58-25"><label
                                                    class="mat-form-field-label ng-tns-c58-25 mat-empty mat-form-field-empty ng-star-inserted"
                                                    id="mat-form-field-label-39" for="mat-input-17"
                                                    aria-owns="mat-input-17"><span
                                                        class="ng-tns-c58-25 ng-star-inserted">Password</span>
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!----></label>
                                                <!----></span></div>
                                        <!---->
                                    </div>
                                    <div class="mat-form-field-underline ng-tns-c58-25 ng-star-inserted"><span
                                            class="mat-form-field-ripple ng-tns-c58-25"></span></div>
                                    <!---->
                                    <div class="mat-form-field-subscript-wrapper ng-tns-c58-25">
                                        <!---->
                                        <div class="mat-form-field-hint-wrapper ng-tns-c58-25 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                            style="opacity: 1; transform: translateY(0%);">
                                            <!---->
                                            <div class="mat-form-field-hint-spacer ng-tns-c58-25"></div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                            </mat-form-field>
                            <mat-checkbox class="mat-checkbox mat-accent" id="mat-checkbox-12"><label
                                    class="mat-checkbox-layout" for="mat-checkbox-12-input">
                                    <div class="mat-checkbox-inner-container"><input type="checkbox"
                                            class="mat-checkbox-input cdk-visually-hidden" id="mat-checkbox-12-input"
                                            tabindex="0" aria-checked="false">
                                        <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                            <div class="mat-ripple-element mat-checkbox-persistent-ripple"></div>
                                        </div>
                                        <div class="mat-checkbox-frame"></div>
                                        <div class="mat-checkbox-background"><svg version="1.1" focusable="false"
                                                viewBox="0 0 24 24" xml:space="preserve" class="mat-checkbox-checkmark">
                                                <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                    class="mat-checkbox-checkmark-path"></path>
                                            </svg>
                                            <div class="mat-checkbox-mixedmark"></div>
                                        </div>
                                    </div><span class="mat-checkbox-label"><span
                                            style="display: none;">&nbsp;</span>Subscribe to newsletter</span>
                                </label></mat-checkbox>
                        </form>
                    </div>
                    <div class="card-footer"><button mat-raised-button="" type="submit"
                            class="btn btn-fill btn-rose mat-raised-button mat-button-base"><span
                                class="mat-button-wrapper">Submit</span>
                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                            <div class="mat-button-focus-overlay"></div>
                        </button></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon"><i class="material-icons">contacts</i></div>
                        <h4 class="card-title">Horizontal Form</h4>
                    </div>
                    <div class="card-body">
                        <form novalidate="" class="form-horizontal ng-untouched ng-pristine ng-valid">
                            <div class="row"><label class="col-md-3 col-2 col-form-label">Email</label>
                                <div class="col-md-9 col-9">
                                    <mat-form-field
                                        class="mat-form-field example-full-width ng-tns-c58-26 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-hide-placeholder">
                                        <div class="mat-form-field-wrapper ng-tns-c58-26">
                                            <div class="mat-form-field-flex ng-tns-c58-26">
                                                <!---->
                                                <!---->
                                                <div class="mat-form-field-infix ng-tns-c58-26"><input matinput=""
                                                        type="email"
                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-26 cdk-text-field-autofill-monitored"
                                                        id="mat-input-18" aria-invalid="false"
                                                        aria-required="false"><span
                                                        class="mat-form-field-label-wrapper ng-tns-c58-26">
                                                        <!----></span></div>
                                                <!---->
                                            </div>
                                            <div class="mat-form-field-underline ng-tns-c58-26 ng-star-inserted"><span
                                                    class="mat-form-field-ripple ng-tns-c58-26"></span></div>
                                            <!---->
                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-26">
                                                <!---->
                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-26 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                    style="opacity: 1; transform: translateY(0%);">
                                                    <!---->
                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-26"></div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row"><label class="col-md-3 col-2 col-form-label">Password</label>
                                <div class="col-md-9 col-9">
                                    <mat-form-field
                                        class="mat-form-field example-full-width ng-tns-c58-27 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-hide-placeholder">
                                        <div class="mat-form-field-wrapper ng-tns-c58-27">
                                            <div class="mat-form-field-flex ng-tns-c58-27">
                                                <!---->
                                                <!---->
                                                <div class="mat-form-field-infix ng-tns-c58-27"><input matinput=""
                                                        type="password"
                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-27 cdk-text-field-autofill-monitored"
                                                        id="mat-input-19" aria-invalid="false"
                                                        aria-required="false"><span
                                                        class="mat-form-field-label-wrapper ng-tns-c58-27">
                                                        <!----></span></div>
                                                <!---->
                                            </div>
                                            <div class="mat-form-field-underline ng-tns-c58-27 ng-star-inserted"><span
                                                    class="mat-form-field-ripple ng-tns-c58-27"></span></div>
                                            <!---->
                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-27">
                                                <!---->
                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-27 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                    style="opacity: 1; transform: translateY(0%);">
                                                    <!---->
                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-27"></div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row"><label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <mat-checkbox class="mat-checkbox mat-accent" id="mat-checkbox-13"><label
                                            class="mat-checkbox-layout" for="mat-checkbox-13-input">
                                            <div class="mat-checkbox-inner-container"><input type="checkbox"
                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                    id="mat-checkbox-13-input" tabindex="0" aria-checked="false">
                                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                    </div>
                                                </div>
                                                <div class="mat-checkbox-frame"></div>
                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                        focusable="false" viewBox="0 0 24 24" xml:space="preserve"
                                                        class="mat-checkbox-checkmark">
                                                        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                            class="mat-checkbox-checkmark-path"></path>
                                                    </svg>
                                                    <div class="mat-checkbox-mixedmark"></div>
                                                </div>
                                            </div><span class="mat-checkbox-label"><span
                                                    style="display: none;">&nbsp;</span>Remember me</span>
                                        </label></mat-checkbox>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-9"><button mat-raised-button="" type="submit"
                                    class="btn btn-fill btn-rose mat-raised-button mat-button-base"><span
                                        class="mat-button-wrapper">Sign in</span>
                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Form Elements</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form novalidate="" method="get" action="/"
                            class="form-horizontal ng-untouched ng-pristine ng-valid">
                            <div class="row"><label class="col-sm-2 col-form-label">With help</label>
                                <div class="col-sm-10">
                                    <mat-form-field
                                        class="mat-form-field example-full-width ng-tns-c58-28 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-hide-placeholder">
                                        <div class="mat-form-field-wrapper ng-tns-c58-28">
                                            <div class="mat-form-field-flex ng-tns-c58-28">
                                                <!---->
                                                <!---->
                                                <div class="mat-form-field-infix ng-tns-c58-28"><input matinput=""
                                                        type="text"
                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-28 cdk-text-field-autofill-monitored"
                                                        id="mat-input-20" aria-invalid="false"
                                                        aria-required="false"><span
                                                        class="mat-form-field-label-wrapper ng-tns-c58-28">
                                                        <!----></span></div>
                                                <!---->
                                            </div>
                                            <div class="mat-form-field-underline ng-tns-c58-28 ng-star-inserted"><span
                                                    class="mat-form-field-ripple ng-tns-c58-28"></span></div>
                                            <!---->
                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-28">
                                                <!---->
                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-28 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                    style="opacity: 1; transform: translateY(0%);">
                                                    <!---->
                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-28"></div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row"><label class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <mat-form-field
                                        class="mat-form-field example-full-width ng-tns-c58-29 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-hide-placeholder">
                                        <div class="mat-form-field-wrapper ng-tns-c58-29">
                                            <div class="mat-form-field-flex ng-tns-c58-29">
                                                <!---->
                                                <!---->
                                                <div class="mat-form-field-infix ng-tns-c58-29"><input matinput=""
                                                        type="password"
                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-29 cdk-text-field-autofill-monitored"
                                                        id="mat-input-21" aria-invalid="false"
                                                        aria-required="false"><span
                                                        class="mat-form-field-label-wrapper ng-tns-c58-29">
                                                        <!----></span></div>
                                                <!---->
                                            </div>
                                            <div class="mat-form-field-underline ng-tns-c58-29 ng-star-inserted"><span
                                                    class="mat-form-field-ripple ng-tns-c58-29"></span></div>
                                            <!---->
                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-29">
                                                <!---->
                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-29 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                    style="opacity: 1; transform: translateY(0%);">
                                                    <!---->
                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-29"></div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row"><label class="col-sm-2 col-form-label">Placeholder</label>
                                <div class="col-sm-10">
                                    <mat-form-field
                                        class="mat-form-field example-full-width ng-tns-c58-30 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                        <div class="mat-form-field-wrapper ng-tns-c58-30">
                                            <div class="mat-form-field-flex ng-tns-c58-30">
                                                <!---->
                                                <!---->
                                                <div class="mat-form-field-infix ng-tns-c58-30"><input matinput=""
                                                        type="text" placeholder="placeholder"
                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-30 cdk-text-field-autofill-monitored"
                                                        id="mat-input-22" aria-invalid="false"
                                                        aria-required="false"><span
                                                        class="mat-form-field-label-wrapper ng-tns-c58-30"><label
                                                            class="mat-form-field-label ng-tns-c58-30 mat-empty mat-form-field-empty ng-star-inserted"
                                                            id="mat-form-field-label-49" for="mat-input-22"
                                                            aria-owns="mat-input-22"><span
                                                                class="ng-tns-c58-30 ng-star-inserted">placeholder</span>
                                                            <!---->
                                                            <!---->
                                                            <!---->
                                                            <!----></label>
                                                        <!----></span></div>
                                                <!---->
                                            </div>
                                            <div class="mat-form-field-underline ng-tns-c58-30 ng-star-inserted"><span
                                                    class="mat-form-field-ripple ng-tns-c58-30"></span></div>
                                            <!---->
                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-30">
                                                <!---->
                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-30 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                    style="opacity: 1; transform: translateY(0%);">
                                                    <!---->
                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-30"></div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row"><label class="col-sm-2 col-form-label">Disabled</label>
                                <div class="col-sm-10">
                                    <mat-form-field
                                        class="mat-form-field example-full-width ng-tns-c58-31 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-should-float mat-form-field-has-label mat-form-field-hide-placeholder mat-form-field-disabled">
                                        <div class="mat-form-field-wrapper ng-tns-c58-31">
                                            <div class="mat-form-field-flex ng-tns-c58-31">
                                                <!---->
                                                <!---->
                                                <div class="mat-form-field-infix ng-tns-c58-31"><input matinput=""
                                                        type="text" placeholder="placeholder"
                                                        value="Disabled input here.." disabled=""
                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-31 cdk-text-field-autofill-monitored"
                                                        id="mat-input-23" aria-invalid="false"
                                                        aria-required="false"><span
                                                        class="mat-form-field-label-wrapper ng-tns-c58-31"><label
                                                            class="mat-form-field-label ng-tns-c58-31 ng-star-inserted"
                                                            id="mat-form-field-label-51" for="mat-input-23"
                                                            aria-owns="mat-input-23"><span
                                                                class="ng-tns-c58-31 ng-star-inserted">placeholder</span>
                                                            <!---->
                                                            <!---->
                                                            <!---->
                                                            <!----></label>
                                                        <!----></span></div>
                                                <!---->
                                            </div>
                                            <div class="mat-form-field-underline ng-tns-c58-31 ng-star-inserted"><span
                                                    class="mat-form-field-ripple ng-tns-c58-31"></span></div>
                                            <!---->
                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-31">
                                                <!---->
                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-31 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                    style="opacity: 1; transform: translateY(0%);">
                                                    <!---->
                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-31"></div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row"><label class="col-sm-2 col-form-label">Static control</label>
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        <p class="form-control-static">hello@creative-tim.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row"><label class="col-sm-2 col-form-label">Checkboxes and radios</label>
                                <div class="col-sm-10 checkbox-radios">
                                    <mat-checkbox class="mat-checkbox mat-accent" id="mat-checkbox-14"><label
                                            class="mat-checkbox-layout" for="mat-checkbox-14-input">
                                            <div class="mat-checkbox-inner-container"><input type="checkbox"
                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                    id="mat-checkbox-14-input" tabindex="0" aria-checked="false">
                                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                    </div>
                                                </div>
                                                <div class="mat-checkbox-frame"></div>
                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                        focusable="false" viewBox="0 0 24 24" xml:space="preserve"
                                                        class="mat-checkbox-checkmark">
                                                        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                            class="mat-checkbox-checkmark-path"></path>
                                                    </svg>
                                                    <div class="mat-checkbox-mixedmark"></div>
                                                </div>
                                            </div><span class="mat-checkbox-label"><span
                                                    style="display: none;">&nbsp;</span> First Checkbox</span>
                                        </label></mat-checkbox><br>
                                    <mat-checkbox class="mat-checkbox mat-accent" id="mat-checkbox-15"><label
                                            class="mat-checkbox-layout" for="mat-checkbox-15-input">
                                            <div class="mat-checkbox-inner-container"><input type="checkbox"
                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                    id="mat-checkbox-15-input" tabindex="0" aria-checked="false">
                                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                    </div>
                                                </div>
                                                <div class="mat-checkbox-frame"></div>
                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                        focusable="false" viewBox="0 0 24 24" xml:space="preserve"
                                                        class="mat-checkbox-checkmark">
                                                        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                            class="mat-checkbox-checkmark-path"></path>
                                                    </svg>
                                                    <div class="mat-checkbox-mixedmark"></div>
                                                </div>
                                            </div><span class="mat-checkbox-label"><span
                                                    style="display: none;">&nbsp;</span>Second Checkbox</span>
                                        </label></mat-checkbox><br>
                                    <mat-radio-button value="1" class="mat-radio-button mat-accent" tabindex="-1"
                                        id="mat-radio-7"><label class="mat-radio-label" for="mat-radio-7-input">
                                            <div class="mat-radio-container">
                                                <div class="mat-radio-outer-circle"></div>
                                                <div class="mat-radio-inner-circle"></div>
                                                <div mat-ripple="" class="mat-ripple mat-radio-ripple">
                                                    <div class="mat-ripple-element mat-radio-persistent-ripple"></div>
                                                </div><input type="radio" class="mat-radio-input cdk-visually-hidden"
                                                    id="mat-radio-7-input" tabindex="0" value="1">
                                            </div>
                                            <div class="mat-radio-label-content"><span
                                                    style="display: none;">&nbsp;</span>First Radio</div>
                                        </label></mat-radio-button><br>
                                    <mat-radio-button value="2" class="mat-radio-button mat-accent" tabindex="-1"
                                        id="mat-radio-8"><label class="mat-radio-label" for="mat-radio-8-input">
                                            <div class="mat-radio-container">
                                                <div class="mat-radio-outer-circle"></div>
                                                <div class="mat-radio-inner-circle"></div>
                                                <div mat-ripple="" class="mat-ripple mat-radio-ripple">
                                                    <div class="mat-ripple-element mat-radio-persistent-ripple"></div>
                                                </div><input type="radio" class="mat-radio-input cdk-visually-hidden"
                                                    id="mat-radio-8-input" tabindex="0" value="2">
                                            </div>
                                            <div class="mat-radio-label-content"><span
                                                    style="display: none;">&nbsp;</span>Second Radio</div>
                                        </label></mat-radio-button>
                                </div>
                            </div>
                            <div class="row"><label class="col-sm-2 col-form-label">Inline checkboxes</label>
                                <div class="col-sm-10">
                                    <mat-checkbox class="mat-checkbox example-margin mb-0 mat-accent"
                                        id="mat-checkbox-16"><label class="mat-checkbox-layout"
                                            for="mat-checkbox-16-input">
                                            <div class="mat-checkbox-inner-container"><input type="checkbox"
                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                    id="mat-checkbox-16-input" tabindex="0" aria-checked="false">
                                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                    </div>
                                                </div>
                                                <div class="mat-checkbox-frame"></div>
                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                        focusable="false" viewBox="0 0 24 24" xml:space="preserve"
                                                        class="mat-checkbox-checkmark">
                                                        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                            class="mat-checkbox-checkmark-path"></path>
                                                    </svg>
                                                    <div class="mat-checkbox-mixedmark"></div>
                                                </div>
                                            </div><span class="mat-checkbox-label"><span
                                                    style="display: none;">&nbsp;</span> a</span>
                                        </label></mat-checkbox>
                                    <mat-checkbox class="mat-checkbox example-margin mb-0 mat-accent"
                                        id="mat-checkbox-17"><label class="mat-checkbox-layout"
                                            for="mat-checkbox-17-input">
                                            <div class="mat-checkbox-inner-container"><input type="checkbox"
                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                    id="mat-checkbox-17-input" tabindex="0" aria-checked="false">
                                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                    </div>
                                                </div>
                                                <div class="mat-checkbox-frame"></div>
                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                        focusable="false" viewBox="0 0 24 24" xml:space="preserve"
                                                        class="mat-checkbox-checkmark">
                                                        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                            class="mat-checkbox-checkmark-path"></path>
                                                    </svg>
                                                    <div class="mat-checkbox-mixedmark"></div>
                                                </div>
                                            </div><span class="mat-checkbox-label"><span
                                                    style="display: none;">&nbsp;</span> b</span>
                                        </label></mat-checkbox>
                                    <mat-checkbox class="mat-checkbox example-margin mb-0 mat-accent"
                                        id="mat-checkbox-18"><label class="mat-checkbox-layout"
                                            for="mat-checkbox-18-input">
                                            <div class="mat-checkbox-inner-container"><input type="checkbox"
                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                    id="mat-checkbox-18-input" tabindex="0" aria-checked="false">
                                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                    </div>
                                                </div>
                                                <div class="mat-checkbox-frame"></div>
                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                        focusable="false" viewBox="0 0 24 24" xml:space="preserve"
                                                        class="mat-checkbox-checkmark">
                                                        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                            class="mat-checkbox-checkmark-path"></path>
                                                    </svg>
                                                    <div class="mat-checkbox-mixedmark"></div>
                                                </div>
                                            </div><span class="mat-checkbox-label"><span
                                                    style="display: none;">&nbsp;</span> c</span>
                                        </label></mat-checkbox>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Input Variants</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form novalidate="" method="get" action="/"
                            class="form-horizontal ng-untouched ng-pristine ng-valid">
                            <div class="row"><label class="col-sm-2 col-form-label">Custom Checkboxes &amp;
                                    radios</label>
                                <div class="col-sm-4 col-sm-offset-1 checkbox-radios">
                                    <mat-checkbox checked="true"
                                        class="mat-checkbox example-margin mb-0 mat-accent mat-checkbox-checked"
                                        id="mat-checkbox-19"><label class="mat-checkbox-layout"
                                            for="mat-checkbox-19-input">
                                            <div class="mat-checkbox-inner-container"><input type="checkbox"
                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                    id="mat-checkbox-19-input" tabindex="0" aria-checked="true">
                                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                    </div>
                                                </div>
                                                <div class="mat-checkbox-frame"></div>
                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                        focusable="false" viewBox="0 0 24 24" xml:space="preserve"
                                                        class="mat-checkbox-checkmark">
                                                        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                            class="mat-checkbox-checkmark-path"></path>
                                                    </svg>
                                                    <div class="mat-checkbox-mixedmark"></div>
                                                </div>
                                            </div><span class="mat-checkbox-label"><span
                                                    style="display: none;">&nbsp;</span>Checked</span>
                                        </label></mat-checkbox><br>
                                    <mat-checkbox class="mat-checkbox example-margin mb-0 mat-accent"
                                        id="mat-checkbox-20"><label class="mat-checkbox-layout"
                                            for="mat-checkbox-20-input">
                                            <div class="mat-checkbox-inner-container"><input type="checkbox"
                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                    id="mat-checkbox-20-input" tabindex="0" aria-checked="false">
                                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                    </div>
                                                </div>
                                                <div class="mat-checkbox-frame"></div>
                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                        focusable="false" viewBox="0 0 24 24" xml:space="preserve"
                                                        class="mat-checkbox-checkmark">
                                                        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                            class="mat-checkbox-checkmark-path"></path>
                                                    </svg>
                                                    <div class="mat-checkbox-mixedmark"></div>
                                                </div>
                                            </div><span class="mat-checkbox-label"><span
                                                    style="display: none;">&nbsp;</span>Unchecked</span>
                                        </label></mat-checkbox><br>
                                    <mat-checkbox checked="true" disabled=""
                                        class="mat-checkbox example-margin mb-0 mat-accent mat-checkbox-checked mat-checkbox-disabled"
                                        id="mat-checkbox-21"><label class="mat-checkbox-layout"
                                            for="mat-checkbox-21-input">
                                            <div class="mat-checkbox-inner-container"><input type="checkbox"
                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                    id="mat-checkbox-21-input" disabled="" tabindex="-1"
                                                    aria-checked="true">
                                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                    </div>
                                                </div>
                                                <div class="mat-checkbox-frame"></div>
                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                        focusable="false" viewBox="0 0 24 24" xml:space="preserve"
                                                        class="mat-checkbox-checkmark">
                                                        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                            class="mat-checkbox-checkmark-path"></path>
                                                    </svg>
                                                    <div class="mat-checkbox-mixedmark"></div>
                                                </div>
                                            </div><span class="mat-checkbox-label"><span
                                                    style="display: none;">&nbsp;</span>Disabled Checked</span>
                                        </label></mat-checkbox><br>
                                    <mat-checkbox disabled=""
                                        class="mat-checkbox example-margin mb-0 mat-accent mat-checkbox-disabled"
                                        id="mat-checkbox-22"><label class="mat-checkbox-layout"
                                            for="mat-checkbox-22-input">
                                            <div class="mat-checkbox-inner-container"><input type="checkbox"
                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                    id="mat-checkbox-22-input" disabled="" tabindex="-1"
                                                    aria-checked="false">
                                                <div matripple="" class="mat-ripple mat-checkbox-ripple">
                                                    <div class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                    </div>
                                                </div>
                                                <div class="mat-checkbox-frame"></div>
                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                        focusable="false" viewBox="0 0 24 24" xml:space="preserve"
                                                        class="mat-checkbox-checkmark">
                                                        <path fill="none" stroke="white" d="M4.1,12.7 9,17.6 20.3,6.3"
                                                            class="mat-checkbox-checkmark-path"></path>
                                                    </svg>
                                                    <div class="mat-checkbox-mixedmark"></div>
                                                </div>
                                            </div><span class="mat-checkbox-label"><span
                                                    style="display: none;">&nbsp;</span>Disabled Unchecked</span>
                                        </label></mat-checkbox>
                                </div>
                                <div class="col-sm-5 checkbox-radios">
                                    <mat-radio-button value="1" name="exampleRadios" checked="true"
                                        class="mat-radio-button mat-radio-checked mat-accent" tabindex="-1"
                                        id="mat-radio-9"><label class="mat-radio-label" for="mat-radio-9-input">
                                            <div class="mat-radio-container">
                                                <div class="mat-radio-outer-circle"></div>
                                                <div class="mat-radio-inner-circle"></div>
                                                <div mat-ripple="" class="mat-ripple mat-radio-ripple">
                                                    <div class="mat-ripple-element mat-radio-persistent-ripple"></div>
                                                </div><input type="radio" class="mat-radio-input cdk-visually-hidden"
                                                    id="mat-radio-9-input" tabindex="0" name="exampleRadios" value="1">
                                            </div>
                                            <div class="mat-radio-label-content"><span
                                                    style="display: none;">&nbsp;</span>Radio is on</div>
                                        </label></mat-radio-button><br>
                                    <mat-radio-button value="2" name="exampleRadios" class="mat-radio-button mat-accent"
                                        tabindex="-1" id="mat-radio-10"><label class="mat-radio-label"
                                            for="mat-radio-10-input">
                                            <div class="mat-radio-container">
                                                <div class="mat-radio-outer-circle"></div>
                                                <div class="mat-radio-inner-circle"></div>
                                                <div mat-ripple="" class="mat-ripple mat-radio-ripple">
                                                    <div class="mat-ripple-element mat-radio-persistent-ripple"></div>
                                                </div><input type="radio" class="mat-radio-input cdk-visually-hidden"
                                                    id="mat-radio-10-input" tabindex="0" name="exampleRadios" value="2">
                                            </div>
                                            <div class="mat-radio-label-content"><span
                                                    style="display: none;">&nbsp;</span>Radio is off</div>
                                        </label></mat-radio-button><br>
                                    <mat-radio-button value="2" name="exampleRadios1" checked="true" disabled=""
                                        class="mat-radio-button mat-radio-checked mat-radio-disabled mat-accent"
                                        tabindex="-1" id="mat-radio-11"><label class="mat-radio-label"
                                            for="mat-radio-11-input">
                                            <div class="mat-radio-container">
                                                <div class="mat-radio-outer-circle"></div>
                                                <div class="mat-radio-inner-circle"></div>
                                                <div mat-ripple="" class="mat-ripple mat-radio-ripple">
                                                    <div class="mat-ripple-element mat-radio-persistent-ripple"></div>
                                                </div><input type="radio" class="mat-radio-input cdk-visually-hidden"
                                                    id="mat-radio-11-input" disabled="" tabindex="-1"
                                                    name="exampleRadios1" value="2">
                                            </div>
                                            <div class="mat-radio-label-content"><span
                                                    style="display: none;">&nbsp;</span>Disabled Radio is on</div>
                                        </label></mat-radio-button><br>
                                    <mat-radio-button value="2" name="exampleRadios1" disabled=""
                                        class="mat-radio-button mat-radio-disabled mat-accent" tabindex="-1"
                                        id="mat-radio-12"><label class="mat-radio-label" for="mat-radio-12-input">
                                            <div class="mat-radio-container">
                                                <div class="mat-radio-outer-circle"></div>
                                                <div class="mat-radio-inner-circle"></div>
                                                <div mat-ripple="" class="mat-ripple mat-radio-ripple">
                                                    <div class="mat-ripple-element mat-radio-persistent-ripple"></div>
                                                </div><input type="radio" class="mat-radio-input cdk-visually-hidden"
                                                    id="mat-radio-12-input" disabled="" tabindex="-1"
                                                    name="exampleRadios1" value="2">
                                            </div>
                                            <div class="mat-radio-label-content"><span
                                                    style="display: none;">&nbsp;</span>Disabled Radio is off</div>
                                        </label></mat-radio-button>
                                    <div class="form-check disabled"><label class="form-check-label"><input type="radio"
                                                name="exampleRadios2" value="option1" checked="" disabled=""
                                                class="form-check-input"> Disabled Radio is on <span
                                                class="circle"><span class="check"></span></span></label></div>
                                    <div class="form-check disabled"><label class="form-check-label"><input type="radio"
                                                name="exampleRadios2" value="option2" disabled=""
                                                class="form-check-input"> Disabled Radio is off <span
                                                class="circle"><span class="check"></span></span></label></div>
                                </div>
                            </div>
                            <div class="row"><label class="col-sm-2 col-form-label">Input with success</label>
                                <div class="col-sm-10">
                                    <mat-form-field
                                        class="mat-form-field example-full-width has-success ng-tns-c58-32 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                        <div class="mat-form-field-wrapper ng-tns-c58-32">
                                            <div class="mat-form-field-flex ng-tns-c58-32">
                                                <!---->
                                                <!---->
                                                <div class="mat-form-field-infix ng-tns-c58-32"><input matinput=""
                                                        type="text" placeholder="Success input"
                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-32 cdk-text-field-autofill-monitored"
                                                        id="mat-input-24" aria-invalid="false"
                                                        aria-required="false"><span
                                                        class="form-control-feedback ng-tns-c58-32"><i
                                                            class="material-icons">done</i></span><span
                                                        class="mat-form-field-label-wrapper ng-tns-c58-32"><label
                                                            class="mat-form-field-label ng-tns-c58-32 mat-empty mat-form-field-empty ng-star-inserted"
                                                            id="mat-form-field-label-53" for="mat-input-24"
                                                            aria-owns="mat-input-24"><span
                                                                class="ng-tns-c58-32 ng-star-inserted">Success
                                                                input</span>
                                                            <!---->
                                                            <!---->
                                                            <!---->
                                                            <!----></label>
                                                        <!----></span></div>
                                                <!---->
                                            </div>
                                            <div class="mat-form-field-underline ng-tns-c58-32 ng-star-inserted"><span
                                                    class="mat-form-field-ripple ng-tns-c58-32"></span></div>
                                            <!---->
                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-32">
                                                <!---->
                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-32 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                    style="opacity: 1; transform: translateY(0%);">
                                                    <!---->
                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-32"></div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row"><label class="col-sm-2 col-form-label">Input with error</label>
                                <div class="col-sm-10">
                                    <mat-form-field
                                        class="mat-form-field example-full-width has-danger ng-tns-c58-33 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                        <div class="mat-form-field-wrapper ng-tns-c58-33">
                                            <div class="mat-form-field-flex ng-tns-c58-33">
                                                <!---->
                                                <!---->
                                                <div class="mat-form-field-infix ng-tns-c58-33"><input matinput=""
                                                        type="text" placeholder="Error input"
                                                        class="mat-input-element mat-form-field-autofill-control ng-tns-c58-33 cdk-text-field-autofill-monitored"
                                                        id="mat-input-25" aria-invalid="false"
                                                        aria-required="false"><span
                                                        class="form-control-feedback ng-tns-c58-33"><i
                                                            class="material-icons">clear</i></span><span
                                                        class="mat-form-field-label-wrapper ng-tns-c58-33"><label
                                                            class="mat-form-field-label ng-tns-c58-33 mat-empty mat-form-field-empty ng-star-inserted"
                                                            id="mat-form-field-label-55" for="mat-input-25"
                                                            aria-owns="mat-input-25"><span
                                                                class="ng-tns-c58-33 ng-star-inserted">Error
                                                                input</span>
                                                            <!---->
                                                            <!---->
                                                            <!---->
                                                            <!----></label>
                                                        <!----></span></div>
                                                <!---->
                                            </div>
                                            <div class="mat-form-field-underline ng-tns-c58-33 ng-star-inserted"><span
                                                    class="mat-form-field-ripple ng-tns-c58-33"></span></div>
                                            <!---->
                                            <div class="mat-form-field-subscript-wrapper ng-tns-c58-33">
                                                <!---->
                                                <div class="mat-form-field-hint-wrapper ng-tns-c58-33 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                    style="opacity: 1; transform: translateY(0%);">
                                                    <!---->
                                                    <div class="mat-form-field-hint-spacer ng-tns-c58-33"></div>
                                                </div>
                                                <!---->
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row"><label class="col-sm-2 col-form-label">Column sizing</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field
                                                class="mat-form-field example-full-width ng-tns-c58-34 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                                <div class="mat-form-field-wrapper ng-tns-c58-34">
                                                    <div class="mat-form-field-flex ng-tns-c58-34">
                                                        <!---->
                                                        <!---->
                                                        <div class="mat-form-field-infix ng-tns-c58-34"><input
                                                                matinput="" type="text" placeholder=".col-md-3"
                                                                class="mat-input-element mat-form-field-autofill-control ng-tns-c58-34 cdk-text-field-autofill-monitored"
                                                                id="mat-input-26" aria-invalid="false"
                                                                aria-required="false"><span
                                                                class="mat-form-field-label-wrapper ng-tns-c58-34"><label
                                                                    class="mat-form-field-label ng-tns-c58-34 mat-empty mat-form-field-empty ng-star-inserted"
                                                                    id="mat-form-field-label-57" for="mat-input-26"
                                                                    aria-owns="mat-input-26"><span
                                                                        class="ng-tns-c58-34 ng-star-inserted">.col-md-3</span>
                                                                    <!---->
                                                                    <!---->
                                                                    <!---->
                                                                    <!----></label>
                                                                <!----></span></div>
                                                        <!---->
                                                    </div>
                                                    <div
                                                        class="mat-form-field-underline ng-tns-c58-34 ng-star-inserted">
                                                        <span class="mat-form-field-ripple ng-tns-c58-34"></span></div>
                                                    <!---->
                                                    <div class="mat-form-field-subscript-wrapper ng-tns-c58-34">
                                                        <!---->
                                                        <div class="mat-form-field-hint-wrapper ng-tns-c58-34 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                            style="opacity: 1; transform: translateY(0%);">
                                                            <!---->
                                                            <div class="mat-form-field-hint-spacer ng-tns-c58-34"></div>
                                                        </div>
                                                        <!---->
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field
                                                class="mat-form-field example-full-width ng-tns-c58-35 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                                <div class="mat-form-field-wrapper ng-tns-c58-35">
                                                    <div class="mat-form-field-flex ng-tns-c58-35">
                                                        <!---->
                                                        <!---->
                                                        <div class="mat-form-field-infix ng-tns-c58-35"><input
                                                                matinput="" type="text" placeholder=".col-md-4"
                                                                class="mat-input-element mat-form-field-autofill-control ng-tns-c58-35 cdk-text-field-autofill-monitored"
                                                                id="mat-input-27" aria-invalid="false"
                                                                aria-required="false"><span
                                                                class="mat-form-field-label-wrapper ng-tns-c58-35"><label
                                                                    class="mat-form-field-label ng-tns-c58-35 mat-empty mat-form-field-empty ng-star-inserted"
                                                                    id="mat-form-field-label-59" for="mat-input-27"
                                                                    aria-owns="mat-input-27"><span
                                                                        class="ng-tns-c58-35 ng-star-inserted">.col-md-4</span>
                                                                    <!---->
                                                                    <!---->
                                                                    <!---->
                                                                    <!----></label>
                                                                <!----></span></div>
                                                        <!---->
                                                    </div>
                                                    <div
                                                        class="mat-form-field-underline ng-tns-c58-35 ng-star-inserted">
                                                        <span class="mat-form-field-ripple ng-tns-c58-35"></span></div>
                                                    <!---->
                                                    <div class="mat-form-field-subscript-wrapper ng-tns-c58-35">
                                                        <!---->
                                                        <div class="mat-form-field-hint-wrapper ng-tns-c58-35 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                            style="opacity: 1; transform: translateY(0%);">
                                                            <!---->
                                                            <div class="mat-form-field-hint-spacer ng-tns-c58-35"></div>
                                                        </div>
                                                        <!---->
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field
                                                class="mat-form-field example-full-width ng-tns-c58-36 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                                                <div class="mat-form-field-wrapper ng-tns-c58-36">
                                                    <div class="mat-form-field-flex ng-tns-c58-36">
                                                        <!---->
                                                        <!---->
                                                        <div class="mat-form-field-infix ng-tns-c58-36"><input
                                                                matinput="" type="text" placeholder=".col-md-5"
                                                                class="mat-input-element mat-form-field-autofill-control ng-tns-c58-36 cdk-text-field-autofill-monitored"
                                                                id="mat-input-28" aria-invalid="false"
                                                                aria-required="false"><span
                                                                class="mat-form-field-label-wrapper ng-tns-c58-36"><label
                                                                    class="mat-form-field-label ng-tns-c58-36 mat-empty mat-form-field-empty ng-star-inserted"
                                                                    id="mat-form-field-label-61" for="mat-input-28"
                                                                    aria-owns="mat-input-28"><span
                                                                        class="ng-tns-c58-36 ng-star-inserted">.col-md-5</span>
                                                                    <!---->
                                                                    <!---->
                                                                    <!---->
                                                                    <!----></label>
                                                                <!----></span></div>
                                                        <!---->
                                                    </div>
                                                    <div
                                                        class="mat-form-field-underline ng-tns-c58-36 ng-star-inserted">
                                                        <span class="mat-form-field-ripple ng-tns-c58-36"></span></div>
                                                    <!---->
                                                    <div class="mat-form-field-subscript-wrapper ng-tns-c58-36">
                                                        <!---->
                                                        <div class="mat-form-field-hint-wrapper ng-tns-c58-36 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                                                            style="opacity: 1; transform: translateY(0%);">
                                                            <!---->
                                                            <div class="mat-form-field-hint-spacer ng-tns-c58-36"></div>
                                                        </div>
                                                        <!---->
                                                    </div>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>