<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon"><i class="material-icons">assignment</i></div>
                        <h4 class="card-title">Simple Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Name</th>
                                        <th>Job Position</th>
                                        <th>Since</th>
                                        <th class="text-right">Salary</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Andrew Mike</td>
                                        <td>Develop</td>
                                        <td>2013</td>
                                        <td class="text-right">€ 99,225</td>
                                        <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-info"><span
                                                    class="mat-button-wrapper"><i
                                                        class="material-icons">person</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-success"><span
                                                    class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-danger"><span
                                                    class="mat-button-wrapper"><i
                                                        class="material-icons">close</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>John Doe</td>
                                        <td>Design</td>
                                        <td>2012</td>
                                        <td class="text-right">€ 89,241</td>
                                        <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-info btn-round"><span
                                                    class="mat-button-wrapper"><i
                                                        class="material-icons">person</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-round btn-success"><span
                                                    class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-danger btn-round"><span
                                                    class="mat-button-wrapper"><i
                                                        class="material-icons">close</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td>Alex Mike</td>
                                        <td>Design</td>
                                        <td>2010</td>
                                        <td class="text-right">€ 92,144</td>
                                        <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-info btn-link"><span
                                                    class="mat-button-wrapper"><i
                                                        class="material-icons">person</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-link btn-success"><span
                                                    class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-danger btn-link"><span
                                                    class="mat-button-wrapper"><i
                                                        class="material-icons">close</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td>Mike Monday</td>
                                        <td>Marketing</td>
                                        <td>2013</td>
                                        <td class="text-right">€ 49,990</td>
                                        <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-info btn-round"><span
                                                    class="mat-button-wrapper"><i
                                                        class="material-icons">person</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-round btn-success"><span
                                                    class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-danger btn-round"><span
                                                    class="mat-button-wrapper"><i
                                                        class="material-icons">close</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td>Paul Dickens</td>
                                        <td>Communication</td>
                                        <td>2015</td>
                                        <td class="text-right">€ 69,201</td>
                                        <td class="td-actions text-right"><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-info"><span
                                                    class="mat-button-wrapper"><i
                                                        class="material-icons">person</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-success"><span
                                                    class="mat-button-wrapper"><i class="material-icons">edit</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button><button mat-raised-button="" type="button"
                                                class="mat-raised-button mat-button-base btn btn-danger"><span
                                                    class="mat-button-wrapper"><i
                                                        class="material-icons">close</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></td>
                                    </tr>
                                    <!---->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon"><i class="material-icons">assignment</i></div>
                        <h4 class="card-title">Striped Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th></th>
                                        <th>Product Name</th>
                                        <th>Type</th>
                                        <th>Qty</th>
                                        <th class="text-right">Price</th>
                                        <th class="text-right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>
                                            <div>
                                                <div>
                                                    <mat-checkbox checked="true"
                                                        class="mat-checkbox mat-accent mat-checkbox-checked"
                                                        id="mat-checkbox-6"><label class="mat-checkbox-layout"
                                                            for="mat-checkbox-6-input">
                                                            <div
                                                                class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                <input type="checkbox"
                                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                                    id="mat-checkbox-6-input" tabindex="0"
                                                                    aria-checked="true">
                                                                <div matripple=""
                                                                    class="mat-ripple mat-checkbox-ripple">
                                                                    <div
                                                                        class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                    </div>
                                                                </div>
                                                                <div class="mat-checkbox-frame"></div>
                                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                                        focusable="false" viewBox="0 0 24 24"
                                                                        xml:space="preserve"
                                                                        class="mat-checkbox-checkmark">
                                                                        <path fill="none" stroke="white"
                                                                            d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                            class="mat-checkbox-checkmark-path"></path>
                                                                    </svg>
                                                                    <div class="mat-checkbox-mixedmark"></div>
                                                                </div>
                                                            </div><span class="mat-checkbox-label"><span
                                                                    style="display: none;">&nbsp;</span></span>
                                                        </label></mat-checkbox>
                                                </div>
                                                <!---->
                                                <!---->
                                            </div>
                                        </td>
                                        <td>Moleskine Agenda</td>
                                        <td>Office</td>
                                        <td>25</td>
                                        <td class="text-right">€49</td>
                                        <td class="text-right"> € 1,225 </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>
                                            <div>
                                                <div>
                                                    <mat-checkbox checked="true"
                                                        class="mat-checkbox mat-accent mat-checkbox-checked"
                                                        id="mat-checkbox-7"><label class="mat-checkbox-layout"
                                                            for="mat-checkbox-7-input">
                                                            <div
                                                                class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                <input type="checkbox"
                                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                                    id="mat-checkbox-7-input" tabindex="0"
                                                                    aria-checked="true">
                                                                <div matripple=""
                                                                    class="mat-ripple mat-checkbox-ripple">
                                                                    <div
                                                                        class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                    </div>
                                                                </div>
                                                                <div class="mat-checkbox-frame"></div>
                                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                                        focusable="false" viewBox="0 0 24 24"
                                                                        xml:space="preserve"
                                                                        class="mat-checkbox-checkmark">
                                                                        <path fill="none" stroke="white"
                                                                            d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                            class="mat-checkbox-checkmark-path"></path>
                                                                    </svg>
                                                                    <div class="mat-checkbox-mixedmark"></div>
                                                                </div>
                                                            </div><span class="mat-checkbox-label"><span
                                                                    style="display: none;">&nbsp;</span></span>
                                                        </label></mat-checkbox>
                                                </div>
                                                <!---->
                                                <!---->
                                            </div>
                                        </td>
                                        <td>Stabilo Pen</td>
                                        <td>Office</td>
                                        <td>30</td>
                                        <td class="text-right">€10.99</td>
                                        <td class="text-right"> € 109 </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td>
                                            <div>
                                                <div>
                                                    <mat-checkbox checked="true"
                                                        class="mat-checkbox mat-accent mat-checkbox-checked"
                                                        id="mat-checkbox-8"><label class="mat-checkbox-layout"
                                                            for="mat-checkbox-8-input">
                                                            <div
                                                                class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                <input type="checkbox"
                                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                                    id="mat-checkbox-8-input" tabindex="0"
                                                                    aria-checked="true">
                                                                <div matripple=""
                                                                    class="mat-ripple mat-checkbox-ripple">
                                                                    <div
                                                                        class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                    </div>
                                                                </div>
                                                                <div class="mat-checkbox-frame"></div>
                                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                                        focusable="false" viewBox="0 0 24 24"
                                                                        xml:space="preserve"
                                                                        class="mat-checkbox-checkmark">
                                                                        <path fill="none" stroke="white"
                                                                            d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                            class="mat-checkbox-checkmark-path"></path>
                                                                    </svg>
                                                                    <div class="mat-checkbox-mixedmark"></div>
                                                                </div>
                                                            </div><span class="mat-checkbox-label"><span
                                                                    style="display: none;">&nbsp;</span></span>
                                                        </label></mat-checkbox>
                                                </div>
                                                <!---->
                                                <!---->
                                            </div>
                                        </td>
                                        <td>A4 Paper Pack</td>
                                        <td>Office</td>
                                        <td>50</td>
                                        <td class="text-right">€49</td>
                                        <td class="text-right"> € 1,225 </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td>
                                            <div>
                                                <!---->
                                                <div>
                                                    <mat-checkbox class="mat-checkbox mat-accent" id="mat-checkbox-9">
                                                        <label class="mat-checkbox-layout" for="mat-checkbox-9-input">
                                                            <div
                                                                class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                <input type="checkbox"
                                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                                    id="mat-checkbox-9-input" tabindex="0"
                                                                    aria-checked="false">
                                                                <div matripple=""
                                                                    class="mat-ripple mat-checkbox-ripple">
                                                                    <div
                                                                        class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                    </div>
                                                                </div>
                                                                <div class="mat-checkbox-frame"></div>
                                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                                        focusable="false" viewBox="0 0 24 24"
                                                                        xml:space="preserve"
                                                                        class="mat-checkbox-checkmark">
                                                                        <path fill="none" stroke="white"
                                                                            d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                            class="mat-checkbox-checkmark-path"></path>
                                                                    </svg>
                                                                    <div class="mat-checkbox-mixedmark"></div>
                                                                </div>
                                                            </div><span class="mat-checkbox-label"><span
                                                                    style="display: none;">&nbsp;</span></span>
                                                        </label></mat-checkbox>
                                                </div>
                                                <!---->
                                            </div>
                                        </td>
                                        <td>Apple iPad</td>
                                        <td>Meeting</td>
                                        <td>10</td>
                                        <td class="text-right">€499</td>
                                        <td class="text-right"> € 4,990 </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td>
                                            <div>
                                                <!---->
                                                <div>
                                                    <mat-checkbox class="mat-checkbox mat-accent" id="mat-checkbox-10">
                                                        <label class="mat-checkbox-layout" for="mat-checkbox-10-input">
                                                            <div
                                                                class="mat-checkbox-inner-container mat-checkbox-inner-container-no-side-margin">
                                                                <input type="checkbox"
                                                                    class="mat-checkbox-input cdk-visually-hidden"
                                                                    id="mat-checkbox-10-input" tabindex="0"
                                                                    aria-checked="false">
                                                                <div matripple=""
                                                                    class="mat-ripple mat-checkbox-ripple">
                                                                    <div
                                                                        class="mat-ripple-element mat-checkbox-persistent-ripple">
                                                                    </div>
                                                                </div>
                                                                <div class="mat-checkbox-frame"></div>
                                                                <div class="mat-checkbox-background"><svg version="1.1"
                                                                        focusable="false" viewBox="0 0 24 24"
                                                                        xml:space="preserve"
                                                                        class="mat-checkbox-checkmark">
                                                                        <path fill="none" stroke="white"
                                                                            d="M4.1,12.7 9,17.6 20.3,6.3"
                                                                            class="mat-checkbox-checkmark-path"></path>
                                                                    </svg>
                                                                    <div class="mat-checkbox-mixedmark"></div>
                                                                </div>
                                                            </div><span class="mat-checkbox-label"><span
                                                                    style="display: none;">&nbsp;</span></span>
                                                        </label></mat-checkbox>
                                                </div>
                                                <!---->
                                            </div>
                                        </td>
                                        <td>Apple iPhone</td>
                                        <td>Communication</td>
                                        <td>10</td>
                                        <td class="text-right">€599</td>
                                        <td class="text-right"> € 5,999 </td>
                                    </tr>
                                    <!---->
                                    <tr>
                                        <td colspan="5"></td>
                                        <td class="td-total"> Total </td>
                                        <td class="td-price"><small>€</small>12,999 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon"><i class="material-icons">assignment</i></div>
                        <h4 class="card-title">Shopping Cart Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-shopping">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th>PRODUCT</th>
                                        <th class="th-description">COLOR</th>
                                        <th class="th-description">SIZE</th>
                                        <th class="text-right">PRICE</th>
                                        <th class="text-right">QTY</th>
                                        <th class="text-right">AMOUNT</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="img-container"><img alt="..." src="./assets/img/product1.jpg">
                                            </div>
                                        </td>
                                        <td class="td-name"><a href="#jacket">Spring Jacket</a><br><small>by
                                                Dolce&amp;Gabbana</small></td>
                                        <td>Red</td>
                                        <td> M </td>
                                        <td class="td-number text-right"><small>€</small> 549</td>
                                        <td class="td-number"> 1 <div class="btn-group btn-group-sm"><button
                                                    mat-raised-button=""
                                                    class="btn btn-round btn-info btn-xs mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper"><i
                                                            class="material-icons">remove</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button><button mat-raised-button=""
                                                    class="btn btn-round btn-info btn-xs mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper"><i
                                                            class="material-icons">add</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button></div>
                                        </td>
                                        <td class="td-number"><small>€</small>549 </td>
                                        <td class="td-actions"><button mat-button="" type="button"
                                                mattooltip="Remove item" class="btn btn-link mat-button mat-button-base"
                                                aria-describedby="cdk-describedby-message-1"
                                                cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                        class="material-icons">close</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button>
                                            <!---->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="img-container"><img alt="..." src="./assets/img/product2.jpg">
                                            </div>
                                        </td>
                                        <td class="td-name"><a href="#pants">Short Pants</a><br><small>by Pucci</small>
                                        </td>
                                        <td>Purple</td>
                                        <td> M </td>
                                        <td class="td-number text-right"><small>€</small> 499</td>
                                        <td class="td-number"> 2 <div class="btn-group btn-group-sm"><button
                                                    mat-raised-button=""
                                                    class="btn btn-round btn-info btn-xs mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper"><i
                                                            class="material-icons">remove</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button><button mat-raised-button=""
                                                    class="btn btn-round btn-info btn-xs mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper"><i
                                                            class="material-icons">add</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button></div>
                                        </td>
                                        <td class="td-number"><small>€</small>998 </td>
                                        <td class="td-actions"><button mat-button="" type="button"
                                                mattooltip="Remove item" class="btn btn-link mat-button mat-button-base"
                                                aria-describedby="cdk-describedby-message-1"
                                                cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                        class="material-icons">close</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button>
                                            <!---->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="img-container"><img alt="..." src="./assets/img/product3.jpg">
                                            </div>
                                        </td>
                                        <td class="td-name"><a href="#nothing">Pencil Skirt</a><br><small>by
                                                Valentino</small></td>
                                        <td>White</td>
                                        <td> XL </td>
                                        <td class="td-number text-right"><small>€</small> 799</td>
                                        <td class="td-number"> 1 <div class="btn-group btn-group-sm"><button
                                                    mat-raised-button=""
                                                    class="btn btn-round btn-info btn-xs mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper"><i
                                                            class="material-icons">remove</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button><button mat-raised-button=""
                                                    class="btn btn-round btn-info btn-xs mat-raised-button mat-button-base"><span
                                                        class="mat-button-wrapper"><i
                                                            class="material-icons">add</i></span>
                                                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                    <div class="mat-button-focus-overlay"></div>
                                                </button></div>
                                        </td>
                                        <td class="td-number"><small>€</small>799 </td>
                                        <td class="td-actions"><button mat-button="" type="button"
                                                mattooltip="Remove item" class="btn btn-link mat-button mat-button-base"
                                                aria-describedby="cdk-describedby-message-1"
                                                cdk-describedby-host=""><span class="mat-button-wrapper"><i
                                                        class="material-icons">close</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button>
                                            <!---->
                                        </td>
                                    </tr>
                                    <!---->
                                    <tr>
                                        <td colspan="5"></td>
                                        <td class="td-total"> Total </td>
                                        <td colspan="1" class="td-price"><small>€</small>2346 </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td colspan="2" class="text-right"><button mat-raised-button="" type="button"
                                                class="btn btn-info btn-round mat-raised-button mat-button-base"><span
                                                    class="mat-button-wrapper">Complete Purchase <i
                                                        class="material-icons">keyboard_arrow_right</i></span>
                                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                                <div class="mat-button-focus-overlay"></div>
                                            </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>