<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon"><i class="material-icons">assignment</i></div>
                        <h4 class="card-title">DataTables.net</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar"></div>
                        <div class="material-datatables">
                            <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="datatables_length"><label
                                                class="form-group">Show <select name="datatables_length"
                                                    aria-controls="datatables"
                                                    class="custom-select custom-select-sm form-control form-control-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="-1">All</option>
                                                </select> entries</label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="datatables_filter" class="dataTables_filter"><label
                                                class="form-group"><input type="search"
                                                    class="form-control form-control-sm" placeholder="Search records" [(ngModel)]="searchText"
                                                    aria-controls="datatables"></label></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="datatables" cellspacing="0" width="100%"
                                            class="table table-striped table-no-bordered table-hover dataTable dtr-inline"
                                            style="width: 100%;" role="grid" aria-describedby="datatables_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="datatables"
                                                        rowspan="1" colspan="1" style="width: 71px;"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending">Id</th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatables"
                                                        rowspan="1" colspan="1" style="width: 187px;"
                                                        aria-label="Position: activate to sort column ascending">
                                                        Email</th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatables"
                                                        rowspan="1" colspan="1" style="width: 143px;"
                                                        aria-label="Office: activate to sort column ascending">FirstName
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatables"
                                                        rowspan="1" colspan="1" style="width: 188px;"
                                                        aria-label="Age: activate to sort column ascending">LastName
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="datatables"
                                                        rowspan="1" colspan="1" style="width: 88px;"
                                                        aria-label="Date: activate to sort column ascending">Avatar</th>
                                                    <th class="disabled-sorting text-right sorting" tabindex="0"
                                                        aria-controls="datatables" rowspan="1" colspan="1"
                                                        style="width: 192px;"
                                                        aria-label="Actions: activate to sort column ascending">Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th rowspan="1" colspan="1">Id</th>
                                                    <th rowspan="1" colspan="1">Email</th>
                                                    <th rowspan="1" colspan="1">FirstName</th>
                                                    <th rowspan="1" colspan="1">LastName</th>
                                                    <th rowspan="1" colspan="1">Avatar</th>
                                                    <th class="text-right" rowspan="1" colspan="1">Actions</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <!---->
                                                <tr role="row" class="odd" *ngFor="let userdata of userData | filter:searchText;let i=index;">

                                                    <td tabindex="0" class="sorting_1">{{userdata.id}}</td>
                                                    <td>{{userdata.email}}</td>
                                                    <td>{{userdata.first_name}}</td>
                                                    <td>{{userdata.last_name}}</td>
                                                    <!-- <td>{{userdata.last_name}}</td> -->
                                                    <td><img src="{{userdata.avatar}}"
                                                            style="width: 70px;
                                                        height: 70px;
                                                        overflow: hidden;
                                                        float: left;
                                                        z-index: 5;
                                                        border-radius: 50%;
                                                        box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);">
                                                    </td>
                                                    <td class="text-right"><a href="javascript:void(0)"
                                                            class="btn btn-link btn-info btn-just-icon like"><i
                                                                class="material-icons" (click)="onClicF()">favorite</i></a><a
                                                            href="javascript:void(0"
                                                            class="btn btn-link btn-warning btn-just-icon edit"><i
                                                                class="material-icons" (click)="onClicDv(userdata)">dvr</i></a><a
                                                            href="javascript:void(0s"
                                                            class="btn btn-link btn-danger btn-just-icon remove"><i
                                                                class="material-icons" (click)="onClicCl(userdata)">close</i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="datatables_info" role="status"
                                            aria-live="polite">Showing {{page}} to {{per_page}} of {{total}} entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item first disabled"
                                                    id="datatables_first"><a href="#" aria-controls="datatables"
                                                        data-dt-idx="0" tabindex="0" class="page-link">First</a></li>
                                                <li class="paginate_button page-item previous disabled"
                                                    id="datatables_previous"><a href="#" aria-controls="datatables"
                                                        data-dt-idx="1" tabindex="0" class="page-link">Previous</a></li>
                                                 <li class="paginate_button page-item active"><a href="#"
                                                        aria-controls="datatables" data-dt-idx="2" tabindex="0"
                                                        class="page-link">1</a></li>
                                               <!-- <li class="paginate_button page-item "><a href="#"
                                                        aria-controls="datatables" data-dt-idx="3" tabindex="0"
                                                        class="page-link">2</a></li>
                                                <li class="paginate_button page-item "><a href="#"
                                                        aria-controls="datatables" data-dt-idx="4" tabindex="0"
                                                        class="page-link">3</a></li>
                                                <li class="paginate_button page-item "><a href="#"
                                                        aria-controls="datatables" data-dt-idx="5" tabindex="0"
                                                        class="page-link">4</a></li> -->
                                                <li class="paginate_button page-item disabled" id="datatables_next"><a
                                                        href="#" aria-controls="datatables" data-dt-idx="6" tabindex="0"
                                                        class="page-link">Next</a></li>
                                                <li class="paginate_button page-item disabled" id="datatables_last"><a
                                                        href="#" aria-controls="datatables" data-dt-idx="7" tabindex="0"
                                                        class="page-link">Last</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>